{% if transDomain is not defined %}
    {% set transDomain = "home" %}
{% endif %}

{% trans_default_domain transDomain %}

{% if title is defined %}
    {% set header = title %}
{% endif %}

{% if header is not defined %}
    {% set header = 'panel.header.empty' %}
{% endif %}

{% if name is not defined %}
    {% set name = 'Default' %}
{% endif %}
{% if name is not iterable %}
    {% set name = {'%name%': name} %}
{% endif %}

{% if panelParams is not defined %}
    {% set panelParams = {} %}
{% endif %}

{% if headerParams is not defined %}
    {% set headerParams = name %}
{% else %}
    {% set headerParams = headerParams|merge(name) %}
{% endif %}

{% if h3Content is not defined %}
    {% set h3Content = '' %}
{% endif %}

{% if colour is defined %}
    {% set panelStyle = colour %}
{% endif %}

{% if panelStyle is not defined %}
    {% set panelStyle = 'primary' %}
{% endif %}

<div class="card card-{{ panelStyle }}"{% if panelAttr is defined %} {{ panelAttr }}{% endif %}>
    <div class="card-header{% if headerClass is defined %} {{ headerClass }}{% endif %}">
        <h3 class="card-title d-flex mb-12 justify-content-between">
            <span class="p-6">
                {% if headerParams['transChoice'] is defined %}
                    {% set transChoice = headerParams['transChoice'] %}
                    {% set headerParams = headerParams|merge({'transChoice': ''}) %}
                    {{ header|transchoice(transChoice, headerParams) }}
                {% else %}
                    {{ header|trans(headerParams)|raw }}
                {% endif %}
            </span>
            <span class="p-6">
                {{ h3Content|raw }}
            </span>
        </h3>
        {% if panelParagraph is defined %}
            <p>
            {% if panelParams['transChoice'] is defined %}
                {% set transChoice = panelParams['transChoice'] %}
                {% set panelParams = panelParams|merge({'transChoice': ''}) %}
                {{ panelParagraph|transchoice(transChoice, panelParams)|raw }}
            {% else %}
                {{ panelParagraph|trans(panelParams)|raw }}
            {% endif %}
            </p>
        {% endif %}
    </div>
    <div class="card-body"{% if bodyAttr is defined %} {{ bodyAttr }}{% endif %}>
