{% trans_default_domain "Calendar" %}

{% block calendar_grade_label %}{% endblock %}
{% block calendar_grade_errors %}{% endblock %}

{% block calendar_grade_widget %}
    {% spaceless %}
        {% set count = manager.studentCount(getObject(form)) %}
        {% if form.vars.value is empty %}{% set gradeTitle = 'calendar.calendar_grade.add.title'|trans %}{% else %}{% set gradeTitle = form.vars.value.fullName %}{% endif %}
        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% set h3Content = h3Content ~ '</div>' %}
    <div class="row">
        <div class="col-4 card">
            {{ form_widget(form.grade) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.calendar, {'value': app.request.get('id') }) }}
            {{ form_widget(form.nextGrade, {value: transformData(form.nextGrade.vars)}) }}
        </div>
        <div class="col-4 card">
            {{ h3Content|raw }}
            {{ form_rest(form) }}
        </div>
    </div>
    {% endspaceless %}
{% endblock calendar_grade_widget %}
