{# src/Busybee/InstituteBundle/Resources/views/Calendar/calendarView.pdf.twig #}
{% trans_default_domain "BusybeeCalendarBundle" %}
{% spaceless %}
    <style type="text/css">
        <!--
    .days > td {
        border: 1px solid #333;
    }

    .termBreak {
        background-image: url({{ absolute_url(asset('img/termBreak.png')) }});
        background-repeat: repeat;
        background-color: #B5B879;
        text-align: center;
    }

    .isClosed {
        background-color: lightsalmon;
        background-image: url({{ absolute_url(asset('img/isClosed.png')) }});
        background-repeat: repeat;
        font-weight: bold;
        text-align: center;
    }

    .isSpecial {
        background-color: cyan;
        background-image: url({{ absolute_url(asset('img/isSpecial.png')) }});
        background-repeat: repeat;
        font-weight: bold;
        text-align: center;
    }

    .isNonSchoolDay {
        text-align: center;
        background-color: #D5D0AA;
    }

    .calendarMonth {
        border: 1px solid #333;
        border-radius: 12px;
    }

    .monthView {
        width: 100%
    }

    .text-right {
        text-align: right;
    }

    .calendarBody {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 400px;
        background-image: url({{ absolute_url(asset(get_setting('org.transparent.logo', 'img/bee-transparent.png'))) }});
        border: none;
        margin: 0 auto;
        width: auto;
    }

    .calendarWeek > td {
        border: 1px solid #333;
        text-align: center;
        font-size: 10px;
        width: 12.5%;
    }

    .noBorder {
        border: none !important;
    }

    .dayDescription {
        border: 1px solid #333;
        border-radius: 12px;
        padding: 8px 5px;
        font-size: 10px;
    }

    .dayBold {
        font-weight: bold;
        font-size: 12px;
        width: 23px;
    }

        .dayBorder {
            border: 1px solid black;
            min-width: 21px;
            width: 21px;
            border-radius: 2px;
        }
    th {
        max-height: 25px;
        height: 25px;
    }

    tr {
        vertical-align: top;
    }

    #page {
        text-align: center;
    }

        -->
</style>
    <page style="font-size: 10px">
        <div id="page">
            {% set row = 1 %}
            <h3 style="text-align: center; ">{{ get_setting('org.name.long') }} {{ calendar.name }}</h3>
            <table class="calendarBody">
                <tbody>
                {% for month in year.months %}
                    {% if row == 1 %}
                        <tr>
                    {% endif %}
                    <td class="calendarMonth">
                        <table class="monthView">
                            <thead>
                            <tr>
                                <th colspan="8">
                                    {{ month.fullName }}
                                </th>
                            </tr>
                            </thead>
                            <tbody class="days">
                            <tr class="calendarWeek">
                                <td><strong>{{ 'Wk'|trans }}</strong></td>
                                {% for week_name in year.weekcodes %}
                                    <td class="dayBold">
                                        {{ week_name }}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% for week in month.weeks %}
                                <tr class="calendarWeek">
                                    <td class="dayBold dayBorder">
                                        {{ week.number }}
                                    </td>
                                    {% for day in week.days %}
                                        {% if day.inMonth(month) %}
                                            <td{{ get_dayClass(day)|raw }}>
                                                {{ day.date | date('j') }}
                                            </td>
                                        {% else %}
                                            <td class="noBorder">
                                                &nbsp;
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% if month.weeks|length < 6 %}
                                <tr>
                                    <td class="noBorder" colspan="8"></td>
                                </tr>
                            {% endif %}
                            {% if month.weeks|length < 5 %}
                                <tr>
                                    <td class="noBorder" colspan="8"></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </td>
                    {% if row == 4 %}
                        </tr>
                        {% set row = 0 %}
                    {% endif %}
                    {% set row = row + 1 %}
                {% endfor %}


                {% set row = 1 %}
                {% for day in calendar.specialDays %}
                    {% if row == 1 %}<tr>{% endif %}
                    <td class="dayDescription">
                        {{ day.day|date('D j/M') }}: {{ day.name }}
                    </td>
                    {% if row == 4 %}
                        </tr>
                        {% set row = 0 %}
                    {% endif %}
                    {% set row = row + 1 %}
                {% endfor %}
                {% if row > 1 %}</tr>{% endif %}
                <tr>
                    <td class="termBreak dayDescription">
                        Term Break
                    </td>
                    <td class="isClosed dayDescription">
                        Closed
                    </td>
                    <td class="isSpecial dayDescription">
                        Special
                    </td>
                    <td class="text-right dayDescription">
                        {{ 'Generated by Busybee'|trans({}, 'home') }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </page>
{% endspaceless %}

