{% trans_default_domain "Calendar" %}

{% include 'Calendar/calendarMenu.html.twig' with {'header': 'calendar.year.title', name: form.name.vars.value} %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 card">
            {{ form_row(form.name) }}
        </div>
        <div class="col-3 card">
            {{ form_row(form.status) }}
            {{ form_row(form.downloadCache, {value: ''}) }}
        </div>
        <div class="col-6 card">
            {{ form_row(form.firstDay) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-6 card">
            {{ form_row(form.lastDay) }}
        </div>
    </div>
</div>
{% include 'Page/panelEnd.html.twig' %}
