{% trans_default_domain "Calendar" %}

{% block roll_group_label %}{% endblock %}
{% block roll_group_errors %}{% endblock %}

{% block roll_group_widget %}
    {% spaceless %}
        {% dump(form) %}
        {% if form.vars.value is empty %}{% set rollTitle = 'calendar.roll_group.add.title'|trans %}{% else %}{% set rollTitle = form.vars.value.fullName %}{% endif %}
        {% set h3Content = '<div class="collection-actions collection-panel">' %}
        {% if manager.isStudentInstalled and value is not null %}
        {% endif %}
        {% set h3Content = h3Content ~ deleteButton({title: 'calendar.roll_group.remove.title', transDomain: 'Calendar', class: 'halflings halflings-erase btn btn-warning collection-remove collection-action', style: 'float: right;'}) %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
        {% set h3Content = h3Content ~ upDownButton()|raw %}
        {% set h3Content = h3Content ~ '</div>' %}
        {% include 'Page/panelStart.html.twig' with {header: rollTitle, panelStyle: 'info'} %}
<div class="container-fluid">
    <div class="row">
        <div class="col-5 card">
            {{ form_row(form.calendar, {'value': app.request.get('id') }) }}
            {{ form_row(form.name) }}
        </div>
        <div class="col-3 card">
            {{ form_row(form.nameShort) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.grade) }}
        </div>
    </div>
    {% if form.nameShort.vars.value is not empty and manager.isStudentInstalled %}
        <div class="row">
            <div class="col-12 card card-info">
                <div>{% if form.vars.value.id is not empty %}{{ editButton({title: 'roll_group.manage.label', transDomain: 'Student', windowOpen: {route: path('student_add_to_roll_group', {id: form.vars.value.id})}})|raw }}{% endif %}
                    {{ 'roll_group.students.count'|trans({'%{count}': form.vars.value.students.count}) }}</div>
            </div>
        </div>
    {% endif %}
</div>
{% include 'Page/panelEnd.html.twig' %}
    {% endspaceless %}
{% endblock roll_group_widget %}
