{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ manager.title|trans }}{% endblock title %}
{% block headerTitle %}{{ manager.title|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ '<span id="tt_Desc">&nbsp;</span>' }}{% endblock headerLead %}

{% block contentContainer %}
    <div id="displayTimeTable">
        <div id="timetableHeader">
        </div>
    </div>
    {% set x = addScript('Timetable/Display/selectDate.html.twig') %}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    <script type="javascript">
        if (document.createStyleSheet){  // Bloody IE
            document.createStyleSheet('{{ asset('css/timetable.css') }}');
        }
        else {
            $("head").append($("<link rel='stylesheet' href='{{ asset('css/timetable.css') }}' type='text/css' media='screen' />"));
        }
    </script>
{% endblock javascripts %}
