{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ 'timetable.builder.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.builder.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% set transDomain = 'Timetable' %}

{% block contentContainer %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 card">
                {% include 'Pagination/search_only.html.twig' %}
                {% set h3Content = returnButton({'windowOpen': {'route': path('timetable_manage')}}) %}
                {% set h3Content = h3Content ~ resetButton({'javascript': {'function': 'resetBuilder'}, 'additional': 'id="resetButton" reset="All"'}) %}
                {% include 'Page/panelStart.html.twig' with {'header': 'timetable.period.list.title', 'transDomain': 'Timetable', 'panelParagraph': 'timetable.period.list.description', 'bodyAttr': 'id=tt_periods', 'panelAttr': 'id=tt_periods_panel'} %}

                {% for period in report.periods %}
                    <div class="row-border row row-hover row-striped fixPeriod" id="periodRow{{ period.id }}">
                        <div class="col-12 dropPeriod{{ period.status.disableDrop }}"
                             id="period{{ period.id }}">
                            <div>
                                {{ miscButton({'additional': 'id="button' ~ period.id ~ '" ' ~ period.status.disableDrop, 'class': 'lockButton glyphicons glyphicons-unlock btn btn-xs btn-' ~ period.status.alert, 'javascript': {'function': 'fixPeriod', 'options': [period.id]}, 'title': period.status.message})|raw }}
                                {{ resetButton({'javascript': {'function': 'resetBuilder'}, 'additional': 'id="resetButton" reset="All"', 'class': 'glyphicons glyphicons-refresh btn btn-xs btn-warning'})|raw }}
                                {{ period.period.columnName }}
                            </div>
                            <div id="periodStatus{{ period.id }}" class="startHidden container-fluid"
                                 style="clear: both;">
                                {% for activity in period.activities %}
                                    <div class="row row-hover" id="periodActivity{{ activity.id }}">
                                        <div class="col-4 small">
                                            {{ activity.fullName }}
                                        </div>
                                        <div class="col-4 small{{ activity.status.class }}">
                                            {% include 'Timetable/Period/activityDetails.html.twig' with {id: period.id, details: activity.details, status: activity.status  } %}
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                {{ miscButton({'class': 'halflings halflings-pencil btn btn-primary', 'windowOpen': {'route': path('period_activity_edit',
                                                    {'activity': activity.id, 'closeWindow': '_closeWindow', activityType: 'Class'}), 'target': 'PeriodActivity', 'params': 'width=500,height=600'},
                                                    'title': 'period.activities.activity.overwrite.button', 'transDomain': transDomain})|raw }}
                                                {{ miscButton({'class': 'halflings halflings-cog btn btn-success', 'windowOpen': {'route': path('activity_edit', {'id':
                                                    activity.activity.activity.id, 'closeWindow': '_closeWindow'}), 'target': 'Activity',
                                                    'params': 'width=1200,height=800'}, 'title': 'period.activities.activity.edit.button',
                                                    'transDomain': transDomain})|raw }}

                                                {{ deleteButton({'class': 'removeActivity halflings halflings-erase btn btn-warning', 'additional': 'id="removeActivity' ~ activity.id ~ '" period="' ~ period.id ~ '"', 'title': 'period.activities.activity.remove.button', 'transDomain': transDomain})|raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div>
                                    {% for message in period.status.messages %}
                                        <div class="alert alert-{{ message[0] }}">
                                            {{ message[1] }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="messageWindow"></div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'Page/panelEnd.html.twig' %}
                {% include 'Page/panelStart.html.twig' with {header: 'timetable.grade.control.title', transDomain: 'Timetable', panelParagraph: 'timetable.grade.control.description', h3Content: '', bodyAttr: 'id=tt_grade_control'} %}
                {% set row = 0 %}
                {% set control = app.session.get('gradeControl')|default({}) %}
                {% for grade in grades %}
                    {% if row == 0 %}
                        <div class="row">
                    {% endif %}
                    <div class="col-4 card">
                        <div>
                            {{ miscButton({title: 'timetable.grade.view.button', class: 'btn btn-info fas fa-eye', javascript: {function: 'openGradeTimeTable', options: [grade.grade]}, transDomain: 'Timetable'})|raw }}
                        {% set checked = '0' %}
                        {% set button_class = 'btn btn-danger far fa-times-circle' %}
                        {% if control[grade.grade] is not defined or control[grade.grade] %}
                            {% set checked = '1' %}
                            {% set button_class = 'btn btn-success far fa-check-circle' %}
                        {% endif %}
                        {{ toggleButton({class: button_class, toggle_swap: 'btn-success fa-check-circle btn-danger fa-times-circle', id: 'grade_' ~ grade.grade, name: 'control[' ~ grade.grade ~ ']', value: checked, label: 'timetable.grade.control.label'|trans({'%grade%': grade.grade}), callable: 'gradeControl' })|raw }}
                        </div>
                    </div>
                    {% set row = row + 1 %}
                    {% if row == 3 %}
                        </div>
                        {% set row = 0 %}
                    {% endif %}

                {% endfor %}
                {% if row > 0 %}
            </div>
            {% endif %}
            {% include 'Page/panelEnd.html.twig' %}
            </div>
            <div class="col-md-4 card">
                <div id="line_tt_manage">
                    {% include 'Timetable/builder_line_activity.html.twig' %}
                </div>
                <div id="activity_tt_manage">
                    {% include 'Timetable/builder_activity_list.html.twig' %}
                </div>

            </div>
        </div>

    </div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    <!-- Builder Scripts -->
    <script type="text/javascript" language="JavaScript">

        $(".dragActivity").draggable({
            helper: 'clone'
        });

        $(".dragLine").draggable({
            helper: 'clone'
        });

        $(".dropPeriod").droppable({
            drop: handleDropEvent
        });

        function handleDropEvent(event, ui) {
            var source = ui.draggable.attr('id');
            var period = $(this).attr('id').replace('period', '');

            if (source.indexOf('activity') === 0) {
                return manageActivityDrop(source.replace('activity', ''), period);
            } else {
                return manageLineDrop(source.replace('line', ''), period);
            }
        }

        function fixPeriod(id) {
            var $fix = $('#periodRow' + id);
            var $clear = $('.fixPeriod');

            var $width = $('#tt_periods').css('width');

            var current = $fix.css('position');

            var button = $($fix).children('div').children('div').children('.lockButton');

            if (current === 'fixed') {
                $clear.css({
                    'top': 'auto',
                    'display': 'flex',
                    'position': 'static',
                    'min-height': 'auto',
                    'background-image': 'none'
                });

                button.toggleClass('glyphicons-lock');
                button.toggleClass('glyphicons-unlock');
                $('#periodStatus' + id).fadeOut(1000);
                $('#period_pagination').fadeIn(1000);
                $('#tt_grade_control').fadeIn(1000);
                $('#resetButton').attr('reset', 'All');
            } else {
                $clear.css({
                    'display': 'none'
                });

                $fix.css({
                    'position': 'fixed',
                    'top': '250px',
                    'display': 'flex',
                    'min-height': '75px',
                    'width': $width,
                    'background-image': 'linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%)'
                });
                button.toggleClass('glyphicons-lock');
                button.toggleClass('glyphicons-unlock');
                $('#resetButton').attr('reset', id);
                $('#periodStatus' + id).fadeIn(1000);
                $('#period_pagination').fadeOut(10);
                $('#tt_grade_control').fadeOut(10);
            }


        }

        function manageLineDrop(line, period) {
            var path = '{{ path('period_builder_line', {'id': '__period__', 'line': '__line__'}) }}';
            path = path.replace('__period__', period);
            path = path.replace('__line__', line);

            window.open(path, '_self');
        }

        function manageActivityDrop(activity, period) {
            var path = '{{ path('period_builder_activity', {'id': '__period__', 'activity': '__activity__'}) }}';
            path = path.replace('__period__', period);
            path = path.replace('__activity__', activity);

            window.open(path, '_self');

        }

        {% if all != 'All' %}
        fixPeriod({{ all }} );
        {% endif %}

        $('.removeActivity').click(function () {

            var id = $(this).attr('id');

            id = id.replace('removeActivity', '');

            var period = $(this).attr('period');

            if (id > 0) {

                var path = '{{ path('period_remove_activity', {'id': '__period__', 'activity': '__activity__'}) }}';
                path = path.replace('__activity__', id);
                path = path.replace('__period__', period);

                $.ajax({
                    url: path,
                    type: 'POST',
                    success: function (data) {
                        if (data['status'] === 'success') {
                            $('#periodActivity' + id).fadeOut(2000);
                            $('.messageWindow').html(data['message']).fadeIn(5).fadeOut(3000);
                            return true;
                        } else if (data['status'] === 'error') {
                            $('.messageWindow').html(data['message']).fadeIn(5).fadeOut(3000);
                            return false;
                        } else if (data['status'] === 'warning') {
                            $('.messageWindow').html(data['message']).fadeIn(5).fadeOut(3000);
                            return false;
                        }
                    }
                });
            }
            return true;
        });

        function gradeControl(element, val) {
            var grade = $(element).prop('id');
            grade = grade.replace('grade_', '');
            grade = grade.replace('_span', '');

            var path = '{{ path('grade_control', {'grade': '__grade__', value: '__value__'}) }}';
            path = path.replace('__grade__', grade);
            path = path.replace('__value__', val);

            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    buildLine();
                    buildActivity();
                }
            });
        }

        function buildLine() {
            var path = '{{ path('timetable_builder_line_activity', {id: app.request.get('id')}) }}';
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#line_tt_manage').html(data['content']);
                }
            });
        }

        function buildActivity() {
            var path = '{{ path('timetable_builder_activity', {id: app.request.get('id')}) }}';
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#activity_tt_manage').html('');
                    $('#activity_tt_manage').html(data['content']);
                }
            });
        }

        function resetBuilder() {
            var id = $('#resetButton').attr('reset');
            var path = '{{ path('timetable_builder', {'id': app.request.get('id'), 'all': '__all__'}) }}';
            path = path.replace('__all__', id);

            window.open(path, '_self');
        }

        $(".dragActivity").dblclick(function () {
            var id = $(this).prop('id');
            id = id.replace('activity', '');

            var path = '{{ path('activity_edit', {id: '__id__', closeWindow: '_closeWindow', activityType: 'class'}) }}';
            path = path.replace('__id__', id);
            window.open(path, 'ActivityEdit', 'width=1200,height=750')
        });
        $(".dragLine").dblclick(function () {
            var id = $(this).prop('id');
            id = id.replace('line', '');

            var path = '{{ path('line_manage', {id: '__id__', closeWindow: '_closeWindow'}) }}';
            path = path.replace('__id__', id);
            window.open(path, 'LineEdit', 'width=1200,height=750')
        });

        function openGradeTimeTable(grade) {
            var path = '{{ path('timetable_grade_set', {grade: '__grade__'}) }}';
            path = path.replace('__grade__', grade);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    path = '{{ path('timetable_display', {closeWindow: '_closeWindow'}) }}';
                    window.open(path, 'DisplayTimeTable', 'width=1200,height=900');
                }
            });
        }

        function openSpaceTimeTable(id) {
            var path = '{{ path('timetable_space_set', {space: '__space__'}) }}';
            path = path.replace('__space__', id);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    path = '{{ path('timetable_display', {closeWindow: '_closeWindow'}) }}';
                    window.open(path, 'DisplayTimeTable', 'width=1200,height=900');
                }
            });
        }

        function openStaffTimeTable(id) {
            var path = '{{ path('timetable_staff_set', {staff: '__staff__'}) }}';
            path = path.replace('__staff__', id);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    path = '{{ path('timetable_display', {closeWindow: '_closeWindow'}) }}';
                    window.open(path, 'DisplayTimeTable', 'width=1200,height=900');
                }
            });
        }

        function linePeriodSearch(tt, id) {
            var path = '{{ path('line_periods_search', {id: '__line__', tt: '__timetable__'}) }}';
            path = path.replace('__line__', id);
            path = path.replace('__timetable__', tt);

            window.open(path, 'LinePeriodSearch', 'width=1200,height=900');
        }
    </script>
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
{% endblock javascripts %}