{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ 'timetable.builder.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.builder.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% set transDomain = 'Timetable' %}

{% block contentContainer %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 card">
                <div class="hideSearch">{% include 'Pagination/search_only.html.twig' %}</div>

                {% include 'Timetable/grade_control.html.twig' %}

                <div id="periodFrame">{% include 'Timetable/Period/builder.html.twig' %}</div>

            </div>
            <div class="col-md-4 card">
                <div id="line_tt_manage">
                    {% include 'Timetable/builder_line_activity.html.twig' %}
                </div>
                <div id="activity_tt_manage">
                    {% include 'Timetable/builder_activity_list.html.twig' %}
                </div>

            </div>
        </div>
    </div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    <!-- Builder Scripts -->
    <script type="text/javascript" language="JavaScript">

        function refreshDragDrop() {
            $(".dragActivity").draggable({
                helper: 'clone'
            });

            $(".dragLine").draggable({
                helper: 'clone'
            });

            $(".dropPeriod").droppable({
                drop: handleDropEvent
            });
        }

        refreshDragDrop();

        function handleDropEvent(event, ui) {
            var source = ui.draggable.attr('id');
            var period = $(this).attr('id').replace('period', '');

            if (source.indexOf('activity') === 0) {
                return manageActivityDrop(source.replace('activity', ''), period);
            } else {
                return manageLineDrop(source.replace('line', ''), period);
            }
        }

        function fixPeriod(id) {
            var $fix = $('#periodRow' + id);
            var $clear = $('.fixPeriod');

            var $width = $fix.width();

            var current = $fix.css('position');

            var button = $($fix).children('div').children('div').children('.lockButton');

            if (current === 'fixed') {
                $clear.css({
                    'top': 'auto',
                    'display': 'flex',
                    'position': 'static',
                    'min-height': 'auto',
                    'background-image': 'none',
                    'width': $width
                });

                button.toggleClass('fa-lock fa-unlock');
                $('#periodStatus' + id).fadeOut(1000);
                $('#period_pagination').fadeIn(1000);
                $('#timetable_grade_control').fadeIn(1000);
                $('.hideSearch').fadeIn(1000);
                $('#resetButton').attr('reset', 'All');
            } else {
                $clear.css({
                    'display': 'none'
                });

                $fix.css({
                    'position': 'fixed',
                    'top': '250px',
                    'display': 'flex',
                    'min-height': '75px',
                    'background-image': 'linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%)',
                    'width': $width
                });
                button.toggleClass('fa-lock fa-unlock');
                $('#resetButton').attr('reset', id);
                $('#periodStatus' + id).fadeIn(1000);
                $('#period_pagination').fadeOut(10);
                $('#timetable_grade_control').fadeOut(10);
                $('.hideSearch').fadeOut(10);
            }


        }

        function manageLineDrop(line, period) {
            var path = '{{ path('period_drop_line', {'id': '__period__', 'line': '__line__'}) }}';
            path = path.replace('__period__', period);
            path = path.replace('__line__', line);

            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#periodMessage' + period).html(data['message']).fadeIn(5);
                    buildPeriod(data['message'], period);
                }
            });
        }

        function manageActivityDrop(activity, period) {
            var path = '{{ path('period_drop_activity', {'id': '__period__', 'activity': '__activity__'}) }}';
            path = path.replace('__period__', period);
            path = path.replace('__activity__', activity);

            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#periodMessage' + period).html(data['message']).fadeIn(5);
                        buildPeriod(data['message'], period);
                }
            });
        }

        {% if all != 'All' %}
        fixPeriod({{ all }} );
        {% endif %}

        $(document).on('click', '.removeActivity', function () {

            var id = $(this).attr('id');

            id = id.replace('removeActivity', '');

            var period = $(this).attr('period');

            if (id > 0) {

                var path = '{{ path('period_remove_activity', {'id': '__period__', 'activity': '__activity__'}) }}';
                path = path.replace('__activity__', id);
                path = path.replace('__period__', period);

                $.ajax({
                    url: path,
                    type: 'POST',
                    success: function (data) {
                        $('#periodActivity' + id).fadeOut(2000);
                        $('#periodMessage' + period).html(data['message']).fadeIn(5);
                        buildPeriod(data['message'], period);
                        return true;
                    }
                });
            }
            return true;
        });

        function gradeControl(element, val) {
            var grade = $(element).prop('id');
            grade = grade.replace('grade_', '');
            grade = grade.replace('_span', '');

            var path = '{{ path('grade_control', {id: '__grade__', value: '__value__'}) }}';
            path = path.replace('__grade__', grade);
            path = path.replace('__value__', val);

            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    buildPeriod('', 'All');
                }
            });
        }

        function buildLine() {
            var path = '{{ path('timetable_builder_line_activity', {id: app.request.get('id')}) }}';
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#line_tt_manage').html(data['content']);
                    refreshDragDrop();
                }
            });
        }

        function buildActivity() {
            var path = '{{ path('timetable_builder_activity', {id: app.request.get('id')}) }}';
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#activity_tt_manage').html('');
                    $('#activity_tt_manage').html(data['content']);
                    refreshDragDrop();
                }
            });
        }

        function buildPeriod(message, period) {
            var path = '{{ path('timetable_period_builder', {id: app.request.get('id'), all: '__period__'}) }}';
            period = period.replace('__period__', '{{ app.request.get('all') }}');
            path = path.replace('__period__', period);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    $('#periodFrame').html('');
                    $('#periodFrame').html(data['content']);
                    if (period != 'All') {
                        fixPeriod(period);
                        messages = $('#periodMessage' + period).html();
                        $('#periodMessage' + period).html(message + messages);
                    } else {
                        $('#allPeriodMessages').html(message);
                    }
                    buildLine();
                    buildActivity();
                }
            });

        }

        function resetBuilder() {
            var id = $('#resetButton').attr('reset');
            buildPeriod('', id);
        }

        $(document).on('dblclick', '.dragActivity', function () {
            var id = $(this).prop('id');
            id = id.replace('activity', '');

            var path = '{{ path('face_to_face_edit', {id: '__id__', closeWindow: '_closeWindow', course_id: '__course__'}) }}';
            path = path.replace('__id__', id);
            window.open(path, 'ActivityEdit', 'width=1200,height=750')
        });
        $(document).on('dblclick', '.dragLine', function () {
            var id = $(this).prop('id');
            id = id.replace('line', '');

            var path = '{{ path('line_manage', {id: '__id__', closeWindow: '_closeWindow'}) }}';
            path = path.replace('__id__', id);
            window.open(path, 'LineEdit', 'width=1200,height=750')
        });

        function openGradeTimeTable(grade) {
            var path = '{{ path('timetable_grade_set', {id: '__grade__'}) }}';
            path = path.replace('__grade__', grade);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    path = '{{ path('timetable_display', {closeWindow: '_closeWindow'}) }}';
                    window.open(path, 'DisplayTimeTable', 'width=1200,height=900');
                }
            });
        }

        function openSpaceTimeTable(id) {
            var path = '{{ path('timetable_space_set', {space: '__space__'}) }}';
            path = path.replace('__space__', id);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    path = '{{ path('timetable_display', {closeWindow: '_closeWindow'}) }}';
                    window.open(path, 'DisplayTimeTable', 'width=1200,height=900');
                }
            });
        }

        function openStaffTimeTable(id) {
            var path = '{{ path('timetable_staff_set', {staff: '__staff__'}) }}';
            path = path.replace('__staff__', id);
            $.ajax({
                url: path,
                type: 'POST',
                success: function (data) {
                    path = '{{ path('timetable_display', {closeWindow: '_closeWindow'}) }}';
                    window.open(path, 'DisplayTimeTable', 'width=1200,height=900');
                }
            });
        }

        function linePeriodSearch(tt, id) {
            var path = '{{ path('line_periods_search', {id: '__line__', tt: '__timetable__'}) }}';
            path = path.replace('__line__', id);
            path = path.replace('__timetable__', tt);

            window.open(path, 'LinePeriodSearch', 'width=1200,height=900');
        }
    </script>
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
{% endblock javascripts %}