{% trans_default_domain "Timetable" %}

{% include 'Page/panelStart.html.twig' with {'header': header} %}
    <div class="row">
        <div class="col-12 alert alert-dark">
            {{ 'timetable.columns.help'|trans }}
            {{ settingLink('schoolweek') }}
        </div>
    </div>
    <div class="row row-header">
        <div class="col-3 card">
            {{ 'timetable.column.name.label'|trans }}
        </div>
        <div class="col-3 card">
            {{ 'timetable.column.code.label'|trans }}
        </div>
        <div class="col-2 card text-center">
            {{ 'timetable.column.periods.label'|trans }}
        </div>
        <div class="col-4 card text-center">
            {{ 'actions'|trans({}, 'home') }}
        </div>
    </div>
    <section id="columnCollection">
    </section>
    {% do form.columns.setRendered() %}
{% include 'Page/panelEnd.html.twig' %}

