{% trans_default_domain "Timetable" %}

{% include 'Page/panelStart.html.twig' with {'header': header} %}
<div class="row">
    <div class="col-3 card">
        {{ 'timetable.day.name.label'|trans }}<br />
        {{ 'timetable.day.code.label'|trans }}
    </div>
    <div class="col-3 card">
        {{ 'timetable.day.colour.label'|trans }}<br />
        {{ 'timetable.day.font_colour.label'|trans }}
    </div>
    <div class="col-3 card">
        {{ 'timetable.day.column.label'|trans }}
    </div>
    <div class="col-3 card text-center">
        {{ 'actions'|trans({}, 'home') }}
    </div>
</div>
    <section id="dayCollection">
    </section>
    {% do form.days.setRendered() %}
{% include 'Page/panelEnd.html.twig' %}

