{% trans_default_domain "Timetable" %}

{% include 'Page/panelStart.html.twig' with {'header': header} %}
    <div class="row">
        <div class="col-8 card">
            <div class="row">
                <div class="col-8 card">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-4 card">
                    {{ form_row(form.code) }}
                </div>
            </div>
            <div class="row">
                <div class="col-8 card">
                    {{ form_row(form.calendar, {value: transformData(form.calendar)}) }}
                </div>
                <div class="col-4 card">
                    {{ form_row(form.active) }}
                </div>
            </div>
        </div>
        <div class="col-4 card">
            {{ form_row(form.calendarGrades) }}
        </div>
    </div>
{% include 'Page/panelEnd.html.twig' %}

