{% trans_default_domain "Timetable" %}

    {% set h3Content = returnButton({'windowOpen': {'route': path('timetable_manage')}}) %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('timetable_edit', {'id': 'Add'}) }}) %}{% endif %}
    {% if form.locked.vars.data %}
        {% set h3Content = h3Content ~ saveButton({additional: 'disabled'})|raw %}
    {% else %}
        {% set h3Content = h3Content ~ saveButton() %}
    {% endif %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ miscButton({'javascript': {function: 'resetColumnTimes', options: [app.request.get('id')]}, class: 'btn btn-danger fas fa-asterisk', title: 'column.resettime.title', transDomain: 'Timetable', disabled: getValueData(form.locked)|default(false)}) %}
    {% include 'Page/panelStart.html.twig' with {header: 'timetable.edit.title', transDomain: 'Timetable', panelParagraph: 'timetable.edit.description', name: form.vars.value.fullName} %}

    <div class="container-fluid">
        {% if form.locked.vars.data %}
            <div class="row">
                <div class="col-12 alert alert-danger">
                    {{ 'timetable.locked.true'|trans }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-3 card">
                {{ form_row(form.name) }}
            </div>
            <div class="col-2 card">
                {{ form_row(form.code) }}
            </div>
            <div class="col-3 card">
                {{ form_row(form.calendar, {value: transformData(form.calendar)}) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.locked) }}
            </div>
        </div>
        <div class="row">
                <div style="width: 100%" class="alert alert-primary">
                {{ miscButton({class: 'btn btn-primary fas fa-cog', title: 'timetable.builder.button', transDomain: 'Timetable', disabled: getValueData(form.locked)|default(false), windowOpen: {route: path('timetable_assign_days', {id: app.request.attributes.get('id')})}})|raw }}
                {{ 'timetable.builder.help'|trans }}
                </div>
        </div>
        <div class="row">
            <div class="col-6 card">
                {% set h3Content = '' %}
                {% if not form.locked.vars.data %}
                    {% set h3Content = h3Content ~ saveButton() %}
                {% endif %}
                {% include 'Page/panelStart.html.twig' with {panelStyle: 'warning', header: 'timetable.days.header', transDomain: 'Timetable'} %}
                {{ collection_widget(form.days) }}
                {% include 'Page/panelEnd.html.twig' %}
            </div>
            <div class="col-6 card">
                {% set h3Content = '' %}
                {% if form.locked.vars.data %}
                    {% set h3Content = h3Content ~ saveButton({additional: 'disabled'})|raw %}
                {% else %}
                    {% set h3Content = h3Content ~ saveButton() %}
                {% endif %}
                {% include 'Page/panelStart.html.twig' with {panelStyle: 'info', header: 'timetable.columns.header', transDomain: 'Timetable', panelParagraph: 'timetable.columns.help'} %}
                {{ collection_widget(form.columns) }}
                {% include 'Page/panelEnd.html.twig' %}
            </div>
        </div>
    </div>
    {% include 'Page/panelEnd.html.twig' %}
