{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ parent() }}{{ 'timetable.list.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.list.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'timetable.list.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% block paginationContent %}
        {% include 'Pagination/index.html.twig' with {'form_array': {action: path('timetable_list') } } %}
    {% endblock paginationContent %}
    {% set transDomain = 'Timetable' %}
    {% set h3Content = addButton({windowOpen: {route: path('timetable_manage', {id: 'Add'})}})|raw %}

    {% if header is not defined %}{% set header = 'timetable.list.title' %}{% endif %}
    {% include 'Page/panelStart.html.twig' with {'header': header} %}
        <div class="row row-header">
            <div class="col-3 text-center">
                {{ 'timetable.name.label'|trans }}
            </div>
            <div class="col-2 text-center">
                {{ 'timetable.code.label'|trans }}
            </div>
            <div class="col-3 text-center">
                {{ 'timetable.grades.label'|trans }}
            </div>
            <div class="col-2 text-center">
                {{ 'timetable.active.label'|trans }}
            </div>
            <div class="col-2 text-center">
                {{ 'actions'|trans({}, 'home') }}
            </div>
        </div>

    {% for tt in pagination.getResult %}
        <div class="row row-striped{% if not tt.active %}{{ ' row-warning' }}{% endif %}">
            <div class="col-3">
                {{ tt.name }}
            </div>
            <div class="col-2">
                {{ tt.code }}
            </div>
            <div class="col-3 small">
                {{ manager.displayGrades(tt.entity) }}
            </div>
            <div class="col-2 text-center">
                {{ onOffButton({value: tt.active, on: {colour: 'success', style: ''}, off: {colour: 'danger', style: ''}})|raw }}
            </div>
            <div class="col-2">
                {{ editButton({windowOpen: {route: path('timetable_manage', {id: tt.id})}})|raw }}
            </div>
        </div>

    {% endfor %}
    {% include 'Page/panelEnd.html.twig' %}
    {% endblock contentContainer %}
