{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ 'timetable.manage.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.manage.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'Pagination/index.html.twig' %}
    {% set h3Content = addButton({title: 'timetable.add.title', transDomain: 'Timetable', windowOpen: {route: path('timetable_edit', {id: 'Add'})}}) %}
    {% include 'Page/panelStart.html.twig' with {header: 'timetable.manage.title', transDomain: 'Timetable', panelParagraph: 'timetable.manage.description'} %}
    <div class="container-fluid card">
        <div class="row row-header">
            <div class="col-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'timetable.name.sort' %}
                    <span class="fas fa-sort-alpha-down"></span> {{ 'timetable.name.label'|trans }}
                {% else %}
                    {{ 'timetable.name.label'|trans }}
                {% endif %}
            </div>
            <div class="col-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'timetable.code.sort' %}
                    <span class="fas fa-sort-alpha-down"></span> {{ 'timetable.code.label'|trans }}
                {% else %}
                    {{ 'timetable.code.label'|trans }}
                {% endif %}
            </div>
            <div class="col-3 form-inline">
                {% if pagination.getSortByName == 'timetable.calendar.sort' %}
                    <span class="fas fa-sort-alpha-down"></span> {{ 'timetable.calendar.label'|trans }}
                {% else %}
                    {{ 'timetable.calendar.label'|trans }}
                {% endif %}
            </div>
            <div class="col-3 withAdd">
                {{ 'actions'|trans({}, 'home') }}
            </div>
        </div>
        {% for timetable in pagination.getResult %}
            <div class="row row-striped{% if timetable.locked %} locked{% endif %}">
                <div class="col-3 form-inline">
                    {{ timetable.name }}
                </div>
                <div class="col-3 form-inline">
                    {{ timetable.code }}
                </div>
                <div class="col-3 form-inline">
                    {{ timetable.calendar }}
                </div>
                <div class="col-3 form-inline">
                    {{ editButton({style: '', title: {'message': 'timetable.edit.title', params: {'%name%': timetable.name }}, transDomain: 'Timetable', windowOpen: {route: path('timetable_edit', {'id': timetable.id})}})|raw }}
                    {{ miscButton({class: 'btn btn-success fas fa-list', style: '', title: 'timetable.days.edit.button', transDomain: 'Timetable', windowOpen: {route: path('timetable_days_edit', {'id': timetable.id})}})|raw }}
                    {{ miscButton({class: 'btn btn-warning fas fa-cog',style: '', title: 'timetable.builder.button', transDomain: 'Timetable', windowOpen: {route: path('timetable_builder', {'id': timetable.id})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'Page/panelEnd.html.twig' %}
{% endblock contentContainer %}
