{% trans_default_domain "Timetable" %}

{% block tt_column_label %}{% endblock %}
{% block tt_column_errors %}{% endblock %}

{% block tt_column_widget %}
    {% spaceless %}
    {% set h3Content = '<div class="collection-actions collection-panel">' %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ deleteButton({title: 'column.remove.label', transDomain: 'Timetable', class: 'fas fa-eraser btn btn-warning collection-remove collection-action'}) %}
    {% if transformData(form) is not empty %}
        {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
        {% set h3Content = h3Content ~ editButton({title: 'column.edit.label', transDomain: 'Timetable',
            windowOpen: ({route: path('timetable_column_period_manage', {id: transformData(form)}), target: 'ColumnManage', params: 'width=1200,height=900'})}) %}
    {% endif %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ upDownButton() %}
    {% set h3Content = h3Content ~ '</div>' %}
    <div class="row">
        <div class="col-3 card">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-3 card">
            {{ form_widget(form.code) }}
        </div>
        <div class="col-2 card text-center">
            {{ callManagerMethod('periodCount', form) }}
        </div>
        <div class="col-4 card">
            {{ h3Content|raw }}
            {{ form_row(form.timetable, {value: app.request.get('id')}) }}
            {{ form_rest(form) }}
        </div>
    </div>
    {% endspaceless %}
{% endblock tt_column_widget %}
