{% trans_default_domain transDomain %}

{% if theMessage is not empty %}
    {% if theMessage is iterable %}
        {% for message,parameters in theMessage %}
            {% if showFlash(message|trans(parameters)) %}
                <div class="alert alert-{{ level }}{{ flashClass }} alert-dismissible fade show" role="alert">
                    {{ message|trans(parameters) }}
                    {{ closeButton({class: "far fa-times-circle close", additional: {'data-dismiss': 'alert', 'aria-label': 'Close', 'aria-hidden': 'true'}, title: 'Close Message', transDomain: 'home' })|raw }}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if showFlash(theMessage|trans) %}
            <div class="alert alert-{{ level }}{{ flashClass }} alert-dismissible fade show" role="alert">
                {{ theMessage|trans }}
                {{ closeButton({class: "far fa-times-circle close", additional: {'data-dismiss': 'alert', 'aria-label': 'Close', 'aria-hidden': 'true'}, title: 'Close Message', transDomain: 'home' })|raw }}
            </div>
        {% endif %}
    {% endif %}
{% endif %}
