{% trans_default_domain transDomain %}

{% if theMessage is not empty %}
    {% if theMessage is iterable %}
        {% for message,parameters in theMessage %}
            {% if showFlash(message|trans(parameters)) %}
                <div class="alert alert-{{ level }}{{ flashClass }} alert-dismissible fade show" role="alert">
                    {{ message|trans(parameters) }}<button type="button" class="close" data-dismiss="alert" aria-label="Close" title="{{ 'Close Message'|trans({}, 'home') }}">
                        <span aria-hidden="true" class="halflings halflings-remove-circle"></span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if showFlash(theMessage|trans) %}
            <div class="alert alert-{{ level }}{{ flashClass }} alert-dismissible fade show" role="alert">
                {{ theMessage|trans }}<button type="button" class="close" data-dismiss="alert" aria-label="Close" title="{{ 'Close Message'|trans({}, 'home') }}">
                    <span aria-hidden="true" class="halflings halflings-remove-circle"></span>
                </button>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
