{% if messages is defined and messages.messages is iterable %}
    {% if flashClass is defined %}
        {% set flashClass = " " ~ flashClass %}
    {% else %}
        {% set flashClass = "" %}
    {% endif %}
    {% if element is not defined %}
        {% set element = 'div' %}
    {% endif %}
    {% for message in messages.messages %}
        <{{ element }} class="alert alert-{{ message.level }}{{ flashClass }} alert-dismissible fade show" id="{{ message.message|replace({' ': '_', '.': '_'}) }}" role="alert" data-dismiss="alert">
            {{ message.message|trans(message.options, message.domain) }}<button type="button" class="close" data-dismiss="alert" aria-label="Close" title="{{ 'Close Message'|trans({}, 'home') }}">
        <span aria-hidden="true" class="far fa-time-circle"></span>
    </button>
        </{{ element }}>
    {% endfor %}
{% endif %}