{% if messages is defined and messages.messages is iterable %}
    {% if flashClass is defined %}
        {% set flashClass = " " ~ flashClass %}
    {% else %}
        {% set flashClass = "" %}
    {% endif %}
    {% if element is not defined %}
        {% set element = 'div' %}
    {% endif %}
    {% for message in messages.messages %}
        <{{ element }} class="alert alert-{{ message.level }}{{ flashClass }}alert-dismissible fade show" id="{{ message.message|replace({' ': '_', '.': '_'}) }}" role="alert" data-dismiss="alert">
            {% for button in message.buttons %}
                {% if button['name'] is same as('closeButton') %}
                    {{ closeButton(button)|raw }}
                {% elseif button['name'] is same as('resetButton') %}
                    {{ resetButton(button)|raw }}
                {% else %}
                    {{ miscButton(button)|raw }}
                {% endif %}
            {% endfor %}
            {% if message.useRaw is same as(true) %}
                {% if message.transChoice is same as(false) %}
                    {{ message.message|trans(message.options, message.domain)|raw }}
                {% else %}
                    {{ message.message|transchoice(message.transChoice, message.options, message.domain)|raw }}
                {% endif %}
            {% else %}
                {% if message.transChoice is same as(false) %}
                    {{ message.message|trans(message.options, message.domain) }}
                {% else %}
                    {{ message.message|transchoice(message.transChoice, message.options, message.domain) }}
                {% endif %}
            {% endif %}
            <button type="button" class="close far fa-times-circle" data-dismiss="alert" aria-label="Close" title="{{ 'Close Message'|trans({}, 'home') }}" aria-hidden="true"></button>
        </{{ element }}>
    {% endfor %}
    {% set x = messages.clearMessages() %}
{% endif %}