{% trans_default_domain "security" %}

<div class="row">
    <div class="col-4 card">
        {{ form_row(form.username) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.email) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.locale) }}
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4 card">
        {{ form_row(form.expiresAt, {help: 'user.expiresAt.help'}) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.credentialsExpireAt, {help: 'user.credentialsExpireAt.help'}) }}
    </div>
</div>
