{% trans_default_domain "security" %}

<hr style="color: red">
{{ form_start(form) }}
{% set h3Content = saveButton() %}
{% include 'Page/panelStart.html.twig' with {header: 'user.manage.self', transDomain: 'security', panelParagraph: 'user.self.change.warning' } %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="row">
    <div class="col-4 card">
        {{ form_row(form.username) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.email) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.locale) }}
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4 card">
        {{ form_row(form.expiresAt, {help: 'user.expiresAt.help'}) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.credentialsExpireAt, {help: 'user.credentialsExpireAt.help'}) }}
    </div>
</div>

    {{ form_rest(form) }}
{% include 'Page/panelEnd.html.twig' %}
{{ form_end(form) }}
