{% extends "Default/template.html.twig" %}

{% trans_default_domain 'security' %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig' %}

{% block title %}{{ 'user.manage.title'|trans }}{% endblock %}
{% block headerTitle %}{{ 'user.manage.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'user.manage.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% if error is defined and error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if fullEdit %}
        {{ form_start(form) }}
        {% set h3Content = saveButton() %}
        {% set h3Content =  h3Content ~ miscButton({title: 'Impersonate User', transDomain: 'security', windowOpen: {route: path(app.request.get('_route'), {id: app.request.get('id')}) ~ '?_switch_user=' ~ form.username.vars.value}, class: 'btn btn-sm btn-warning x-halflings glyphicons glyphicons-theater', type: 'button'}) %}
        {% include 'Page/panelStart.html.twig' with {header: 'user.manage.title', transDomain: 'security', panelParagraph: 'user.self.change.warning' } %}
        {% include "@HillrangeSecurity/User/userContent.html.twig" %}
        {% do form.save.setRendered() %}
        {{ form_rest(form) }}
        {% include 'Page/panelEnd.html.twig' %}
        {{ form_end(form) }}
    {% else  %}
        {{ form_start(form) }}
        {% set h3Content = saveButton() %}
        {% include 'Page/panelStart.html.twig' with {header: 'user.manage.self', transDomain: 'security', panelParagraph: 'user.self.change.warning' } %}
        {% include "@HillrangeSecurity/User/selfContent.html.twig" %}
        {{ form_rest(form) }}
        {% include 'Page/panelEnd.html.twig' %}
        {{ form_end(form) }}
    {% endif %}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
{% endblock javascripts %}