{% trans_default_domain "Facility" %}

{% extends "Default/template.html.twig" %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{% block title %}{{ 'campus.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'campus.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'campus.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger alert-dismissable show hide") }}
    {{ form_start(form) }}
    {% set h3Content = '' %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('campus_manage', {'id': 'Add'})}}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton() %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set locationValue = 'Add' %}
    {% if app.request.attributes.get('id') is not empty %}{% set locationValue = 'Add' %}{% endif %}
    {% set h3Content = h3Content ~ form_widget(form.locationList, {'value': app.request.attributes.get('id')}) %}
    {% include 'Page/panelStart.html.twig' with {header: 'campus.title', transDomain: 'Facility'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 card">
                {{ form_row(form.identifier) }}
            </div>
            <div class="col-6 col-md-6 card">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 card">
                {{ form_row(form.locality) }}
            </div>
            <div class="col-6 card">
                {{ form_row(form.territory) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 card">
                {{ form_row(form.postcode) }}
            </div>
            <div class="col-6 card">
                {% if app.request.get('id') == 'Add' %}
                    {{ form_row(form.country, {value: get_setting('country')}) }}
                {% else %}
                    {{ form_row(form.country) }}
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% set route = 'campus_manage' %}
    {% include 'Script/monitorForm.html.twig' %}
{% endblock javascripts %}
