{% extends "Default/template.html.twig" %}

{% trans_default_domain 'System' %}

{% form_theme form '@HillrangeForm/FormTheme/bootstrap.html.twig' %}

{% block title %}{{ 'system.setting.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'system.setting.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'system.setting.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ form_start(form) }}
    {% if closeWindow is defined and closeWindow == 'closeWindow' %}
        {% set h3Content = closeButton({mergeClass: 'btn-sm'})|raw %}
    {% else %}
        {% set h3Content = returnButton({'windowOpen': {'route': path('setting_manage')}, mergeClass: 'btn-sm'}) %}
    {% endif %}
    {% set h3Content = h3Content ~ saveButton({mergeClass: 'btn-sm'}) %}
    {% set h3Content = h3Content ~ form_widget(form.nameSelect, {'value': form.vars.value.id|default('') ~ ""}) %}
    {% include 'Page/panelStart.html.twig' with {'header': 'system.setting.edit.title', transDomain: 'System', panelParagraph: 'system.setting.edit.description'} %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger alert-dismissible fade show", 'system.setting.edit.success'|trans, "alert alert-success alert-dismissible fade show") }}
    <div class="row">
        <div class="col-6 card alert-warning">
            {{ 'system.setting.warning'|trans }}
            {{ form_row(form.name) }}
        </div>
        <div class="col-6 card">
            {{ form_row(form.displayName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 card">
            {% if form.defaultValue is defined %}
                {{ form_row(form.defaultValue) }}
            {% endif %}
            {% if form.rawDefaultValue is defined %}
                {{ form_row(form.rawDefaultValue) }}
            {% endif %}
        </div>
        <div class="col-6 card">
            {% if form.value is defined %}
                {{ form_row(form.value) }}
            {% endif %}
            {% if form.rawValue is defined %}
                {{ form_row(form.rawValue) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6 card">
            {{ form_row(form.choice) }}
        </div>
        <div class="col-6 card">
            {{ form_row(form.validator) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 card">
            {{ form_row(form.description) }}
        </div>
    </div>
    {% include 'Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
    <script type="text/javascript">
        $('.changeSetting').change(function ($e) {
            $("#setting_nameSelect").prop('disabled', true);
        });
        $('#setting_nameSelect').change(function ($e) {
            var id = $("#setting_nameSelect").val();
            var url = "{{ path('setting_edit', {'id': '_id'}) }}";
            url = url.replace("_id", id);
            window.open(url, '_self');
        });
    </script>
{% endblock javascripts %}