{% extends "Default/template.html.twig" %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
    'Collection/jquery.collection.html.twig'
    'Collection/test_collection.html.twig'
%}

{% block contentContainer %}
{{ form_start(form) }}
    {% include '@HillrangeForm/Script/collection_message.html.twig' %}
    {{ form_row(form.values) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/hillrangeform/js/jquery.collection.js') }}"></script>
    {% set collection = form.values %}
    <div class="{{ collection.vars.id }}" data-collection="{{ collection.vars.id }}"></div>
    <script>
        $(".{{ collection.vars.id }}").collection();
    </script>
{% endblock %}