{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% form_theme form
    'Line/line_course_collection.html.twig'
    '@HillrangeForm/FormTheme/jquery.collection.html.twig'
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{% block title %}{{ parent() }}{{ 'line.manage.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'line.manage.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'line.manage.description'|trans }}{% endblock headerLead %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {{ form_start(form, {attr:{id: 'line_form'}}) }}
    {% set route = {} %}
    {% if app.request.get('closeWindow') is not empty %}
        {% set h3Content = closeButton({mergeClass: 'disableOnChange'})|raw %}
        {% set route = route|merge({'closeWindow': '_closeWindow'}) %}
    {% else %}
        {% set h3Content = returnButton({mergeClass: 'disableOnChange', windowOpen: {route: path('line_list')}}) %}
    {% endif %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('line_manage', {'id': 'Add'}) }}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton() %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ form_widget(form.changeRecord, {'value': app.request.attributes.get('id')}) %}
    {% include 'Page/panelStart.html.twig' with {header: 'line.manage.title', transDomain: 'Timetable', panelParagraph: 'line.manage.help'} %}
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-5 card">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-3 card">
                        {{ form_row(form.calendar) }}
                        {{ form_row(form.code) }}
                    </div>
                    {% if app.request.get('id') != 'Add' %}
                        <div class="col-4 card">
                            <div class="form-group">
                                {{ miscButton({'class': 'btn btn-info fas fa-check testLine', title: 'line.report.button', transDomain: 'Timetable'})|raw }}
                                <label class="control-label">{{ 'line.test.label'|trans }}</label><br>
                                <small class="form-text text-muted">{{ 'line.test.help'|trans }}</small>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12 card" id="reportResults" style="display: none;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include '@HillrangeForm/Script/collection_message.html.twig' %}
                        <div class="row row-header">
                            <div class="col-8 card-header">
                                {{ form.courses.vars.label|trans }}
                            </div>
                            <div class="col-4 card-header text-center">
                                {{ 'actions'|trans({}, 'home') }}
                            </div>
                        </div>
                        {{ collection_widget(form.courses, 0, 0) }}
                        {{ form_errors(form.courses) }}
                    </div>
                </div>
            </div>
        </div>
    {% include 'Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
    {{ parent() }}
    {{ collections_manage(form, ['courses'])|raw }}
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
    {% set route = 'line_manage' %}
    {% include 'Script/monitorForm.html.twig' %}
    <script type="text/javascript" language="JavaScript">
        $('.testLine').click(function (e) {
            var path = '{{ path('line_test', {'id': '__id__'}) }}';
            path = path.replace('__id__', '{{ app.request.get('id') }}');
            window.open(path, 'Report', 'width=800,height=800,top=100,left=100');
        })
    </script>
    {% if app.request.get('closeWindow') is not empty %}
        <script type="application/javascript" language="JavaScript">
            $('#line_form').submit(function (event) {
                var path = '{{ path('line_manage', {id: app.request.get('id'), closeWindow: '_closeWindow'}) }}';

                $(this).attr('action', path);
                return true;
            });
        </script>
    {% endif %}
{% endblock javascripts %}