{# src/General/SecurityBundle/Resources/views/System/start.html.twig #}
{% extends "Default/template.html.twig" %}

{% form_theme form "FormTheme/bootstrap.html.twig" %}

{% block menuContainer %}{% endblock menuContainer %}

{% trans_default_domain 'Install' %}
{% block title %}{{ 'system.install.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'system.install.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'system.install.description'|trans }}{% endblock headerLead %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'Style/toggle.html.twig' %}
{% endblock stylesheets %}

{% block flashMessages %}{% include 'Default/messages.html.twig' %}{% endblock flashMessages %}

{% block contentContainer %}
    {{ form_start(form) }}
    {% set h3Content = '' %}
    {% if config.proceed %}
        {% set h3Content = h3Content ~ proceedButton({'windowOpen': {'route': path("install_database")}}) %}
    {% endif %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% include 'Page/panelStart.html.twig' with {header: 'system.install.title', transDomain: 'Install'} %}

    <div id="form_body">
        {% include 'Page/panelStart.html.twig' with {header: 'install.misc.parameters', transDomain: 'Install', panelStyle: 'default'} %}
        <div class="container-fluid">
            <div class="row">
                <div class="card col-6">
                    {{ form_row(form.secret) }}
                    {{ form_row(form.sessionName) }}
                </div>
                <div class="card col-6">
                    {{ form_row(form.sessionRememberMeName) }}
                </div>
            </div>

            <div class="row">
                <div class="card col-4">
                    {{ form_row(form.signInCountMinimum) }}
                </div>
                <div class="card col-4">
                    {{ form_row(form.hemisphere) }}
                </div>
                <div class="card col-4">
                    {{ form_row(form.sessionMaxIdleTime) }}
                </div>
            </div>

            <div class="row">
                <div class="card col-4">
                    {{ form_row(form.locale) }}
                </div>
                <div class="card col-4">
                    {{ form_row(form.timezone) }}
                </div>
                <div class="card col-4">
                    {{ form_row(form.country) }}
                </div>
            </div>
        </div>
        {% include 'Page/panelEnd.html.twig' %}


    {% set toggle = 'data-toggle=toggle data-onStyle=success data-offStyle=default data-on="<span class=\'halflings halflings-thumbs-up\'></span>" data-off="<span class=\'halflings halflings-thumbs-down\'></span>"' %}


        {% include 'Page/panelStart.html.twig' with {transDomain: 'Install', header: 'misc.password.title', panelParagraph: 'misc.password.message', panelStyle: 'default' } %}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-6">
                {{ form_row(form.passwordMinLength) }}
            </div>
            <div class="card col-6">
                {{ form_row(form.passwordNumbers) }}
            </div>
        </div>

        <div class="row">
            <div class="card col-6">
                {{ form_row(form.passwordMixedCase) }}
            </div>
            <div class="card col-6">
                {{ form_row(form.passwordSpecials) }}
            </div>
        </div>

        {% include 'Page/panelEnd.html.twig' %}


        {% include 'Page/panelStart.html.twig' with {'transDomain': 'Install', 'header': 'misc.google.title', 'panelStyle': 'default', panelParagraph: 'misc.google.description' } %}
            <div class="row">
                <div class="card col-2">
                    {{ form_row(form.googleOAuth) }}
                </div>
                <div class="card col-5">
                    {{ form_row(form.googleClientId) }}
                </div>
                <div class="card col-5">
                    {{ form_row(form.googleClientSecret) }}
                </div>
            </div>
        </div>
        {% include 'Page/panelEnd.html.twig' %}

    </div>
    {% include 'Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Script/toggle.html.twig' %}
    {% include 'Script/fadeAlert.html.twig' %}
    {% include 'Script/messages.html.twig' %}
{% endblock javascripts %}
