{% extends "Default/template.html.twig" %}

{% block menuContainer %}
{% endblock menuContainer %}

{% trans_default_domain 'Install' %}
{% block title %}{{ 'system.install.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'system.install.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'system.install.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'Page/panelStart.html.twig' with {transDomain: 'Install', header: 'system.install.title'} %}
    <div class="container-fluid">
        <p class="alert alert-info">{{ 'install.system.progress'|trans }}</p>
    {% if not manager.systemSettingsInstalled %}
        {{ proceedButton({'windowOpen': {'route': path("install_system_settings")}})|raw }}
    {% else %}
        {{ proceedButton({'windowOpen': {'route': path("install_system_settings")}})|raw }}
    {% endif %}
    {% set messages = manager.messages %}
    {% include 'Default/messages.html.twig' with {element: 'p'} %}
    </div>
    {% include 'Page/panelEnd.html.twig' %}

{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Script/messages.html.twig' %}
{% endblock javascripts %}
