{% trans_default_domain "Person" %}

{% extends "Default/template.html.twig" %}

{% form_theme form
    "@HillrangeForm/FormTheme/jquery.collection.html.twig"
    "Phone/phoneCollection.html.twig"
    "Student/calendar_grade_collection.html.twig"
    "@HillrangeForm/FormTheme/bootstrap.html.twig"
%}

{% block title %}{{ parent() }}{% if id == 'Add' %}{{ 'person.person.title'|trans }}{% else %}{{ 'person.person.title'|trans }}{% endif %}{% endblock title %}
{% block headerTitle %}{% if id == 'Add' %}{{ 'person.person.title'|trans }}{% else %}{{ 'person.person.title'|trans }}{% endif %}{% endblock headerTitle %}
{% block headerLead %}{% if id == 'Add' %}{{ 'person.person.description'|trans }}{% else %}{{ 'person.person.description'|trans }}{% endif %}{% endblock headerLead %}

{% set tabs = personManager.tabs %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger alert-dismissable show hide") }}
    {% set form_path = [] %}
    {% set form_path = form_path|merge({'id': id}) %}
    {{ form_start(form, {'action': path('person_edit', form_path)}) }}
    <div id="peopleError"></div>
    <div id="formTabs">
        <ul class="nav nav-pills" role="tablist">
            {% for name,tab in tabs %}
                {% set translation = 'Person' %}
                {% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
                {% set disabled = '' %}
                {% if name == 'staff' and not isStaff() %}{% set disabled = ' disabled' %}{% endif %}
                {% if name == 'student' and not isStudent() %}{% set disabled = ' disabled' %}{% endif %}
                {% if name == 'immigration' and not isStudent() %}{% set disabled = ' disabled' %}{% endif %}
                {% if name == 'student_calendar' and not isStudent() %}{% set disabled = ' disabled' %}{% endif %}
                {% if name == 'user' and not isUser() %}{% set disabled = ' disabled' %}{% endif %}
                <li class="nav-item" role="presentation"><a href="#{{ name }}" role="tab"
                                                         data-toggle="tab" class="nav-link{{ disabled }}">{{ tab.label|trans({}, translation) }}</a>
                </li>
            {% endfor %}
        </ul>
        {% set active = ' active' %}
        <div class="tab-content">
            {% for name,tab in tabs %}
                {% set translation = 'Person' %}
                {% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
                {% if name == 'staff' and not isStaff() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'FormTheme/emptyTab.html.twig' with {'name': 'person.staff.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'student' and not isStudent() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'FormTheme/emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'immigration' and not isStudent() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'FormTheme/emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'student_calendar' and not isStudent() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'FormTheme/emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'user' and not isUser() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'FormTheme/emptyTab.html.twig' with {'name': 'person.user.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% else %}
                    <div class="tab-pane{{ active }}" id="{{ name }}">
                        {% if tab.message is defined %}
                            <div class="container-fluid">
                                <div class='row' id="{{ tab.message }}" style="display: none;">
                                </div>
                            </div>
                        {% endif %}
                        {% include tab.include %}
                    </div>
                {% endif %}
                {% set active = '' %}
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
    {% include "@HillrangeForm/Script/jquery_collection.html.twig" %}
    {% include 'Person/script.html.twig' %}
    {% include 'Script/monitorForm.html.twig' with {'route': 'person_manage'} %}
    {% include 'Script/formTabSubmitScript.html.twig' with {'route': 'person_edit'} %}
{% endblock javascripts %}
