{# src/Busybee/StudentBundle/Resources/views/Person/students.html.twig #}

{% trans_default_domain "Person" %}

{% include 'Person/panelHeader.html.twig' with {header: 'person.student.title', transDomain: 'Person', name: personManager.fullName(personManager.person)} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 card">
                {{ form_row(form.startAtSchool) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.startAtThisSchool) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.lastAtThisSchool) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 card">
                {{ form_row(form.house) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.countryOfBirth) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.ethnicity) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 card">
                {{ form_row(form.firstLanguage) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.secondLanguage) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.thirdLanguage) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 card">
                {{ form_row(form.religion) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.locker) }}
            </div>
        </div>
    </div>
{% include 'Page/panelEnd.html.twig' %}
