{% extends 'bootstrap_4_layout.html.twig' %}

{% block image_label -%}
    {% if imageExists(data) %}
        <img src="{{ asset( imagePath(data) ) }}" class="{{ attr.imageClass }} form_image"/>
        {{- form_label(form) -}}
        {% if deletePhoto is not null %}
            {% set imageDelete = 0 %}
            {% if form.parent.vars.value.name is defined %}
                {% set imageDelete = form.parent.vars.value.name %}
            {% endif %}
            {{ deleteButton({title: 'photo.delete', transDomain: translation_domain, windowOpen: {route: deletePhoto|replace({'__imageDelete__': imageDelete}), target: deleteTarget, params: deleteParams}, colour: 'warning'})|raw }}
        {% endif %}
    {% else %}
        {{- form_label(form) -}}
    {% endif %}
{%- endblock image_label %}

{% block url_label -%}
    {{- form_label(form) -}}
    {% if value is not empty %}
        &nbsp;{{ miscButton({transDomain: translation_domain, windowOpen: {route: value, target: '_blank'}, class: 'halflings halflings-link btn btn-sm btn-default', title: label, style: ''})|raw }}
    {% endif %}
{%- endblock url_label %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-control-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
    {%- endif -%}
    {% set required_printed = false %}
    {% if required and not required_printed %}{% spaceless %}<span
            class="field-required">
        &nbsp;{{ 'form.required'|trans({}, 'FormTheme') }} </span>&nbsp;{% endspaceless %}{% set required_printed = true %}{% endif %}
    {% if setting_name is defined %}
        {% spaceless %}<small class="form-text text-info halflings halflings-info-sign"
               title="{{ 'setting.choice.name'|trans({'%name%': setting_display_name}, 'System') }}"
               onclick="window.open('{{ path('setting_edit_name', {name: setting_name}) }}', 'SettingManage', 'width=1200,height=900')">{{ 'setting.choice.name'|trans({'%name%': setting_display_name}, 'System') }}</small>{% endspaceless %}
    {% endif %}

{%- endblock form_label %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<small class="form-text text-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li class="text-danger halflings halflings-exclamation-sign"> {{ (translation_domain is same as(false) ? error.message : error.message|trans({}, translation_domain)) }}</li>
        {%- endfor -%}
        </ul>
        {% if form.parent %}</small>{% endif %}
    {%- endif %}
    {% if help is defined and help is not empty %}
        {% if help_params is not defined or help_params is not iterable %}
            {% set help_params = {} %}
        {% endif %}
        <small class="form-text text-muted">{{ (translation_domain is same as(false) ? help : help|trans(help_params, translation_domain)) }}</small>
    {% endif %}
{%- endblock form_errors %}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title', 'data-on', 'data-off'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrname in ['help', 'imageClass'] -%}

        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{% block choice_row -%}
    {% if expanded %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-danger{% endif %}">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% else %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-danger{% endif %}">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock choice_row %}

{% block form_row -%}
    {% if form.vars.block_prefixes.1 == 'choice' %}
        {{- block('choice_row') -}}
    {% else %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-danger{% endif %}">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock form_row %}

{%- block auto_complete_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    <input type="hidden" id="{{ id }}" value="{{ value }}" name="{{ full_name }}"/>
    {% set id = id ~ '_list' %}
    {% set full_name = full_name|replace({(name): name ~ '_list'}) %}
    {% set name = name|replace({(name): name ~ '_list'}) %}
    <input type="text" {{ block('widget_attributes') }} />
{%- endblock auto_complete_widget -%}

{% block checkbox_widget -%}
    {% if use_toggle is not defined %}
        {% set use_toggle = false %}
    {% endif %}
    {% if attr.use_toggle is defined %}
        {% set use_toggle = true %}
    {% endif %}
    {% if use_toggle %}
        {% set button_class = button_class_off|default('btn btn-danger halflings halflings-thumbs-down') %}

        {% set button_toggle_on = button_toggle_on|default({'btn-danger': 'btn-success', 'halflings-thumbs-down': 'halflings-thumbs-up'}) %}
        {% if checked %}
            {% set button_class = button_class|replace(button_toggle_on) %}
        {% endif %}

        {% set swap_list = '' %}
        {% for x,y in button_toggle_on %}
            {% set swap_list = swap_list ~ ' ' ~ y ~ ' ' ~ x|trim %}
        {% endfor %}

        <div class="{{ div_class }}">
            <div data-toggle="buttons">
                <span class="{{ button_class }}" toggle_swap="{{ swap_list|trim }}"><input type="hidden" value="{% if checked %}1{% else %}0{% endif %}" id="{{ id }}" name="{{ full_name }}" /></span>
            </div>
        </div>

        {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
        <label class="control-label">{{ (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) }}</label>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock checkbox_widget %}

{% block bee_toggle_row -%}
    {% set button_class = button_class_off|default('btn btn-danger halflings halflings-thumbs-down') %}

    {% set button_toggle_on = button_toggle_on|default({'btn-danger': 'btn-success', 'halflings-thumbs-down': 'halflings-thumbs-up'}) %}
    {% dump %}
    {% if value == '1' %}
        {% set button_class = button_class|replace(button_toggle_on) %}
    {% endif %}

    {% set swap_list = '' %}
    {% for x,y in button_toggle_on %}
        {% set swap_list = swap_list ~ ' ' ~ y ~ ' ' ~ x|trim %}
    {% endfor %}

    <div data-toggle="buttons">
        {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
        <label class="control-label">{{ (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) }}
        {% if required %}
            <br/><span class="field-required">&nbsp;{{ 'form.required'|trans({}, 'FormTheme') }}</span>
        {% endif %}</label>
        <span class="{{ button_class }} {{ div_class }}" toggle_swap="{{ swap_list|trim }}"><input type="hidden" value="{{ value }}" id="{{ id }}" name="{{ full_name }}" /></span>
    </div>
    {{- form_errors(form) -}}

{%- endblock bee_toggle_row %}

