{# src/General/HomeBundle/Resources/views/home.html.twig #}

{% extends "Default/template.html.twig" %}

{% trans_default_domain 'home' %}

{% block title %}Busybee {{ 'homePage.heading'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'homePage.heading'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'homePage.lead'|trans }}.{% endblock headerLead %}

{% block contentContainer %}
    <p>{{ 'homePage.para1'|trans }}</p>
    <p>{{ 'homePage.para2'|trans }}</p>
    <p>{{ 'homePage.para3'|trans }}</p>
    <p>Craig Rayner</p>
{% endblock contentContainer %}
