{% spaceless %}
    {% trans_default_domain "Timetable" %}
    {% set panelStyle = 'default' %}
    {% set transDomain = 'Timetable' %}
    {% set header = 'timetable.column.header.title' %}
    {% set h3Content = '<div class="collection-actions collection-panel">' %}
    {% set h3Content = h3Content ~ returnButton({windowOpen: {route: path('timetable_manage')}})|raw %}
    {% set locked = false %}
    {% if form.vars.data %}
        {% set locked = form.vars.data.locked %}
    {% endif %}
    {% if not locked %}
        {% set h3Content = h3Content ~ saveButton()|raw %}
    {% endif %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ '</div>' %}
    {% set title = 'timetable.column.add.title'|trans %}
    {% if col.vars.data is not empty %}{% set title = timetable.getFullName ~ ': ' ~ col.vars.data.name ~ ' (' ~ col.vars.data.nameShort ~ ')' %}{% endif %}
    {% include 'Page/panelStart.html.twig' with {name: title, panelStyle: 'primary'} %}
    <div class="container-fluid">
        {% if locked %}
            <div class="row">
                <div class="col-12 alert alert-danger">
                    {{ 'timetable.locked.true'|trans }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 card">
                {{ form_widget(col.periods, {'attr': {'class': 'periodList_' ~ name}, col_id: col.vars.value.id}) }}
                {{ form_widget(col.timetable, {'value': app.request.get('id')}) }}
            </div>
        </div>
    </div>
    {{ form_row(col.name) }}
    {{ form_row(col.code) }}
    {{ form_row(col.timetable, {'value': app.request.get('id')}) }}
    {{ form_row(col.mappingInfo) }}
    {% include 'Page/panelEnd.html.twig' %}
{% endspaceless %}
