{% trans_default_domain "home" %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if is_IPBlocked(app.request.clientIP) %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <span class="nav-link">{{ 'Login Blocked'|trans({}, 'security') }}</span>
            </li>
        </ul>
    {% else %}
    {% set route = get_parameter('security.routes.security_user_check') %}
    <form class="form-inline ml-auto" action="{{ path(route) }}" method="post">
        <div class="form-group mb-2">
            <input type="text" id="login__username" class="form-control form-control-sm" name="login[_username]"
                   value="{{ last_username|default("") }}" placeholder="{{ 'Username/Email'|trans }}" />
        </div>
        <div class="form-group mb-2">
            <div class="input-group input-group-sm">
                <input type="password" id="login__password" name="login[_password]" class="form-control"
                       placeholder="{{ 'Password'|trans }}" />
                <span class="input-group-append">{{ saveButton({class: 'btn btn-success fas fa-sign-in-alt'})|raw }}</span>
                {% if get_setting('google.o_auth', false) is same as(true) %}
                <span class="input-group-append">
                    {{ miscButton({class: 'btn btn-success fab fa-google', title: 'google.oauth', transDomain: 'home', windowOpen: {route: path('google_oauth')}})|raw }}
                </span>
                {% endif %}
            </div>
        </div>
        <input type="hidden" name="login[_token]" id="login__token" value="{{ csrf_token('authenticate') }}"/>
    </form>
    {% endif %}
{% else %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ formatUserName(app.user) }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
                <li>
                    <a href="{{ path(get_SecurityRoute('security_user_edit'), {id: app.user.id}) }}" class="dropdown-item" title="{{ 'menu.user.self.manage'|trans }}">{{ 'menu.user.self.manage'|trans }}</a>
                </li>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ path('home', {'_switch_user': '_exit'}) }}" class="dropdown-item">{{ 'Exit Impersonation'|trans }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ path(get_SecurityRoute('security_user_logout')) }}" class="dropdown-item">{{ 'Sign Out'|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endif %}




