{# src/Busybee/HomeBundle/Resources/views/Menu/sign-in-form.html.twig #}

{% trans_default_domain "home" %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    {% set route = get_parameter('security_routes')['security_user_check'] %}
    <form class="form-inline ml-auto" action="{{ path(route) }}" method="post">
        <div class="form-group">
            <input type="text" id="login__username" class="form-control form-control-sm" name="login[_username]"
                   value="{{ last_username|default("") }}" placeholder="{{ 'Username/Email'|trans }}"/>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="password" id="login__password" name="login[_password]" class="form-control form-control-sm"
                       placeholder="{{ 'Password'|trans }}"/>
                <span class="input-group-btn"><button type="submit" class="btn btn-success btn-sm halflings halflings-log-in"
                                                      style="max-height: 25px; margin-top: -2px; min-height: 25px"></button></span>
            </div>
        </div>
        <input type="hidden" name="login[_token]" id="login__token" value="{{ csrf_token('authenticate') }}"/>
        {% if get_parameter('google.oauth') == 'on' %}
            <a href="{{ path('google_oauth') }}" title="{{ 'google.oauth'|trans }}"><img
                        src="{{ asset('img/Google_icon_2015.png') }}" width="35"/></a>
        {% endif %}
    </form>
{% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ formatUserName(app.user) }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
                <li>
                    <a href="{{ path(get_SecurityRoute('security_user_edit'), {id: 'Current'}) }}" class="dropdown-item" title="{{ 'menu.user.self.manage'|trans }}">{{ 'menu.user.self.manage'|trans }}</a>
                </li>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ path('home', {'_switch_user': '_exit'}) }}" class="dropdown-item">{{ 'Exit Impersonation'|trans }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ path(get_SecurityRoute('security_user_logout')) }}" class="dropdown-item">{{ 'Sign Out'|trans }}</a></li>
                {% endif %}

            </ul>

        </li>
    </ul>




{#
    <ul class="navbar-nav ml-auto">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{ formatUserName(app.user) }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path(get_SecurityRoute('security_user_edit'), {id: 'Current'}) }}"
                       target="_self">{{ 'menu.user.self.manage'|trans }}</a></li>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ path('home_page', {'_switch_user': '_exit'}) }}">{{ 'Exit Impersonation'|trans }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ path(get_SecurityRoute('security_user_logout')) }}" target="_self">{{ 'Sign Out'|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>  #}
{% endif %}




