{% trans_default_domain "School" %}

{% extends "Default/template.html.twig" %}

{% form_theme form
    'Timetable/Period/activity_tutor.html.twig'
    '@HillrangeForm/FormTheme/jquery.collection.html.twig'
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{% set fullPage = true %}
{% set headerOff = true %}

{% block title %}{{ parent() }}{{ 'activity.edit.title'|trans }}{% endblock title %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div") }}
    <h4>{{ form.vars.value.activity.fullName }}</h4>
    <h5>{{ form.vars.value.period.fullName }} - {{ form.vars.value.period.columnName }}<br/><span
                class="small">{{ form.vars.value.period.startTime }} - {{ form.vars.value.period.endTime }}</span></h5>
    {{ form_start(form) }}
    <div>
        {{ closeButton({mergeClass: 'btn-sm'})|raw }}
        {{ resetButton({mergeClass: 'btn-sm', windowOpen: {route: path('period_activity_edit', {activity: app.request.get('activity')})}, title: 'form.refresh.button', transDomain: 'home'})|raw }}
        {{ saveButton({mergeClass: 'btn-sm'})|raw }}
    </div>
    {{ form_row(form.space, {value: transformData(form.space)}) }}
    {{ form_row(form.tutors) }}
    {{ form_row(form.activity) }}
    {{ form_row(form.period) }}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {{ collections_manage(form, ['tutors'])|raw }}
    {{ collection_script(form.tutors)|raw }}
{% endblock javascripts %}