{% trans_default_domain "Timetable" %}
{% set fullPage = true %}
{% set headerOff = true %}
{% extends "Default/template.html.twig" %}

{% form_theme form 
    'Timetable/Period/periodCollection.html.twig'
    '@HillrangeForm/FormTheme/jquery.collection.html.twig'
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{% block title %}{{ parent() }}{{ 'column.periods.manage.title'|trans({'%name%': form.vars.value.getFullName}) }}{% endblock title %}
{% block headerTitle %}{{ 'column.periods.manage.title'|trans({'%name%': form.vars.value.getFullName}) }}{% endblock headerTitle %}
{% block headerLead %}{{ 'column.periods.manage.description'|trans }}{% endblock headerLead %}


{% block contentContainer %}
    {{ form_start(form) }}
    {{ all_form_errors(fullForm, 'div') }}
    {% include '@HillrangeForm/Script/collection_message.html.twig' %}        {% set panelStyle = 'default' %}
    {% set transDomain = 'Timetable' %}
    {% set header = 'column.periods.header.title' %}
    {% set h3Content = '<div class="collection-actions">' %}
    {% set h3Content = h3Content ~ closeButton() %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ '</div>' %}
    {% set title = form.vars.value.name %}
    {% include 'Page/panelStart.html.twig' with {'name': title} %}
    {{ collection_widget(form.periods) }}
    {% include 'Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
    {{ parent() }}
    {{ collections_manage(form, ['periods'])|raw }}
    {{ collection_script(form.periods) }}
{% endblock javascripts %}