{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}
{% set fullPage = true %}
{% set headerOff = true %}

{% block title %}{{ parent() }}{{ 'period.report.title'|trans }}{% endblock title %}

{% block contentContainer %}
    <div class="messageWindow"></div>
    {% set header = 'period.plan.header' %}
    {% set headerParams = {'%day%': manager.period.columnName} %}
    {% set panelParagraph = 'period.plan.reportparagraph' %}
    {% set panelParams = {'%start%': manager.period.startTime, '%end%': manager.period.endTime} %}
    {% set transDomain = 'Timetable' %}
    <div class="row alert alert-primary">
        <h4>{{ header|trans(headerParams) }}<br /><span class="small">{{ panelParagraph|trans(panelParams) }}</span></h4>
    </div>
    {% if manager.hasMissingStudents(report) %}
        <div>{{ closeButton({mergeClass: 'btn-sm'})|raw }}
            {{ resetButton({mergeClass: 'btn-sm', windowOpen: {route: path('period_plan_report', {id: app.request.get('id')})}})|raw }}
        </div>
        <h5>{{ 'period.activities.activity.report.unallocatedStudents'|trans() }}</h5>
        {% for data in manager.getMissingStudents(report) %}
            {% for key,student in data %}
                {% if key is same as('grade') %}
                    <h6>{{ 'period.report.grade.header'|trans({'%{grade}': student.fullName}) }}</h6><ul>
                {% else %}
                    <li>{{ 'period.report.student.name'|trans({'%{name}': student.fullName}) }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    <div>{{ closeButton({mergeClass: 'btn-sm'})|raw }}
        {{ resetButton({mergeClass: 'btn-sm', windowOpen: {route: path('period_plan_report', {id: app.request.get('id')})}})|raw }}
    </div>
    <h5>{{ 'period.activities.activity.report.availableStaff'|trans({'%count%': report.availableTutors.count}) }}</h5>
    <ul>
        {% for staff in report.availableTutors %}
            <li>{{ staff.fullName }} <span class="small alert-warning">{{ staff.departmentNames }}</span></li>
        {% endfor %}
    </ul>

    <div>{{ closeButton({mergeClass: 'btn-sm'})|raw }}
        {{ resetButton({mergeClass: 'btn-sm', windowOpen: {route: path('period_plan_report', {id: app.request.get('id')})}})|raw }}
    </div>
    <h5>{{ 'period.activities.activity.report.availableSpace'|trans({'%count%': report.availableSpaces.count}) }}</h5>
    <ul>
        {% for space in report.availableSpaces %}
            <li>{{ space.nameCapacity }}</li>
        {% endfor %}
    </ul>
    <p class="alert alert-light text-justify">{{ 'period.report.help'|trans }}</p>
{% endblock contentContainer %}
