{% trans_default_domain "School" %}

{% block class_student_label %}{% endblock %}
{% block class_student_errors %}{% endblock %}

{% block class_student_widget %}
    {% spaceless %}
        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ saveButton({mergeClass: 'btn-sm'}) %}
        {% set h3Content = h3Content ~ '</div>' %}
        <div class="row row-hover">
            <div class="col-6 card">
                {{ form_widget(form.student, {value: transformData(form.student.vars)}) }}
            </div>
            <div class="col-3">
                {% if isInstanceof(form.parent.vars.value, 'App\Entity\Class') %}
                    {{ form_widget(form.classReportable) }}
                {% else %}
                    <input type="hidden" id="{{ form.classReportable.vars.id }}" name="{{ form.classReportable.vars.full_name }}" value="1" />
                    {% do form.classReportable.setRendered %}
                {% endif %}
            </div>
            <div class="col-3 card">
                {{ h3Content|raw }}
                {{ form_row(form.activity, {value: app.request.get('id')}) }}
                {{ form_rest(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock class_student_widget %}


{% block external_activity_student_label %}{% endblock %}
{% block external_activity_student_errors %}{% endblock %}

{% block external_activity_student_widget %}
    {% spaceless %}
        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ saveButton({mergeClass: 'btn-sm'}) %}
        {% set h3Content = h3Content ~ '</div>' %}
        <div class="row row-striped">
            <div class="col-4 card">
                {{ form_widget(form.student, {value: transformData(form.student.vars.data)}) }}
            </div>
            <div class="col-3 card">
                {{ form_widget(form.externalStatus) }}
            </div>
            <div class="col-3 card small">
                {% if form.vars.value is not empty %}
                    {{ form.vars.value.createdOn.format(get_setting('date.format.long')) }} {{ form.vars.value.createdOn.format(get_setting('time.format.short')) }}<br />
                    {{ formatUserName(form.vars.value.createdBy) }}
                {% endif %}
            </div>
            <div class="col-2 card">
                {{ h3Content|raw }}
                {{ form_row(form.activity, {value: app.request.get('id')}) }}
                {{ form_rest(form) }}
            </div>
        </div>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock external_activity_student_widget %}
