{% trans_default_domain 'School' %}

{% set h3Content = '' %}
{% if app.request.get('closeWindow') is empty %}
    {% set h3Content = h3Content ~ returnButton({windowOpen: {route: path('activity_return', {id: app.request.get('id')})}}) %}
{% else %}
    {% set h3Content = h3Content ~ closeButton() %}
{% endif %}
{% set h3Content = h3Content ~ resetButton() %}
{% set h3Content = h3Content ~ saveButton() %}
{% include 'Page/panelStart.html.twig' with {header: 'school.activity.' ~ tabManager.activityType ~ '.manage.title', name: form.vars.value.fullName, transDomain: 'School'} %}

<div class="row">
    <div class="col-6 card">
        {{ form_row(form.name) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.code) }}
    </div>
    {% if form.useCourseName is defined %}
        <div class="col-3 card">
            {{ form_row(form.useCourseName) }}
        </div>
    {% endif %}
    {% if form.nextRoll is defined %}
        <div class="col-3 card">
            {{ form_row(form.nextRoll) }}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-6 card">
        {{ form_row(form.attendance) }}
    </div>
    <div class="col-6 card">
        {{ form_row(form.reportable) }}
    </div>
</div>
<div class="row">
    <div class="col-6 card">
        {{ form_row(form.website) }}
    </div>
    <div class="col-6 card">
        {{ form_row(form.space, {value: transformData(form.space)}) }}
    </div>
</div>
<div class="row">
    <div class="col-3 card">
        {{ form_row(form.calendarGrades) }}
    </div>
    <div class="col-9">
        {% set h3Content = '' %}
        {% set h3Content = h3Content ~ resetButton() %}
        {% include 'Page/panelStart.html.twig' with {colour: 'success', header: 'school.activity.' ~ tabManager.activityType ~ '.tutors.label', transDomain: 'School'} %}
        <section id="activity_tutors_target">
            {{ form_widget(form.tutors) }}
        </section>
        {% include 'Page/panelEnd.html.twig' %}
    </div>
</div>
{% include 'Page/panelEnd.html.twig' %}
