{% trans_default_domain "School" %}

{% block activity_slot_label %}{% endblock %}
{% block activity_slot_errors %}{% endblock %}

{% block activity_slot_widget %}
    {% spaceless %}
        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% set h3Content = h3Content ~ '</div>' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 card">
                    {{ form_row(form.day) }}
                </div>
                <div class="col-3 card">
                    {{ form_row(form.startTime) }}
                </div>
                <div class="col-3 card">
                    {{ form_row(form.endTime) }}
                </div>
                <div class="col-3 card">
                    {{ form_row(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-1 card" id="internalType_{{ form.vars.name }}">
                    <div id="internal_{{ form.vars.name }}">
                        {{ form_row(form.space) }}
                    </div>
                    <div id="external_{{ form.vars.name }}" style="display: none">
                        {{ form_row(form.externalLocation) }}
                    </div>
                </div>
                <div class="col-4 card">
                    {{ form_row(form.activity, {value: app.request.get('id')}) }}
                    {{ form_row(form.id) }}{{ h3Content|raw }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock activity_slot_widget %}
