{% trans_default_domain "School" %}

{% block class_student_label %}{% endblock %}
{% block class_student_errors %}{% endblock %}

{% block class_student_widget %}
    {% spaceless %}
        {% set h3Content = '<div class="collection-actions collection-panel">' %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
        {% set h3Content = h3Content ~ upDownButton() %}
        {% set h3Content = h3Content ~ '</div>' %}
            <div class="row">
                <div class="col-6 card">
                    {{ form_widget(form.student, {value: transformData(form.student.vars)}) }}
                </div>
                <div class="col-3 card">
                    {{ form_row(form.classReportable) }}
                    {{ form_row(form.id) }}
                    {{ form_row(form.activity, {value: app.request.get('id')}) }}
                </div>
                <div class="col-3 card">
                    {{ h3Content|raw }}
                </div>
            </div>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock class_student_widget %}
