{% extends "Default/template.html.twig" %}

{% trans_default_domain 'School' %}

{% block title %}{{ 'school.course.list.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'school.course.list.title'|trans}}{% endblock headerTitle %}
{% block headerLead %}{{ 'school.course.list.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'Pagination/index.html.twig' %}
    {% if is_granted('ROLE_SYSTEM_ADMIN') %}
        {% set h3Content = addButton({windowOpen: {route: path('course_edit', {id: 'Add'})}}) %}
    {% endif %}
    {% include 'Page/panelStart.html.twig' with {header: 'school.course.list.title', transDomain: 'School', panelParagraph: 'school.course.list.help'} %}
    <div class="container-fluid">
        <div class="row row-header">
            <div class="col-3" style="display: inline-block;">
                {{ 'course.name.label'|trans }}<br /><small>{{ 'course.code.label'|trans({}) }}</small>
            </div>
            <div class="col-3">
                {{ 'course.target_years.label'|trans }}
            </div>
            <div class="col-3">
                {{ 'course.department.label'|trans({}) }}
            </div>
            <div class="col-3 withAdd text-center">
                {{ 'system.setting.manage.actions'|trans({}, 'System') }}
            </div>
        </div>
        {% for course in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-3 form-inline">
                    {{ course.name }}<br /><small>{{ course.code }}</small>
                </div>
                <div class="col-3 form-inline small">
                    {% for year in course.entity.calendarGrades.toArray() %}
                        {{ year.fullName }}&nbsp;
                    {% endfor %}
                </div>
                <div class="col-3 form-inline">
                    {% if course.entity.department is not empty %}
                    {{ course.entity.department.name }}
                    {% endif %}
                </div>
                <div class="col-3 form-inline text-center">
                    {{ editButton({title: 'school.course.edit.title', transDomain: 'School', windowOpen: {route: path('course_edit', {id: course.id})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'Page/panelEnd.html.twig' %}
{% endblock contentContainer %}

