{% trans_default_domain 'School' %}

{% set h3Content = returnButton({'windowOpen': {'route': path('course_list')}}) %}
{% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('course_edit', {id: 'Add'})}}) %}{% endif %}
{% set h3Content = h3Content ~ resetButton() %}
{% set h3Content = h3Content ~ saveButton() %}
{% include 'Page/panelStart.html.twig' with {header: 'school.course.edit.title', transDomain: 'School', panelParagraph: 'school.course.edit.description'} %}
<div class="container-fluid">

    <div class="row row-header text-center">
        <div class="col-3" style="display: inline-block;">
            {{ 'activity.name.label'|trans }}<br /><small>{{ 'activity.code.label'|trans({}) }}</small>
        </div>
        <div class="col-3">
            {{ 'activity.participants.label'|trans({}) }}<br /><small>{{ 'course.students.details'|trans({'%{possible}': manager.possibleStudentCount(getObject(form)), '%{current}': manager.currentStudentCount(getObject(form))}) }}</small>
        </div>
        <div class="col-3">
            {{ 'activity.reportable.label'|trans({}) }}
        </div>
        <div class="col-3 withAdd text-center">
            {{ 'system.setting.manage.actions'|trans({}, 'System') }}<br />
            {{ addButton({title: 'school.face_to_face.add.title', transDomain: 'School', windowOpen: {route: path('face_to_face_edit', {id: 'Add', course_id: app.request.get('id')})}, style: ''})|raw }}
        </div>
    </div>
    {% for face in pagination.getResult %}
        <div class="row row-striped text-center">
            <div class="col-3 form-inline">
                {{ face.entity.fullName }}<br /><small>{{ face.code }}</small>
            </div>
            <div class="col-3 form-inline">
                {{ pagination.getParticipants(face.entity) }}
            </div>
            <div class="col-3 form-inline">
                {{ displayBoolean(face.reportable) }}
            </div>
            <div class="col-3 form-inline text-center">
                {{ editButton({title: 'school.face_to_face.edit.title', transDomain: 'School', windowOpen: {route: path('face_to_face_edit', {id: face.id, course_id: app.request.get('id')})}, style: ''})|raw }}
                {{ editButton({title: 'school.face_to_face.students.title', transDomain: 'School', windowOpen: {route: path('face_to_face_edit', {id: face.id, course_id: app.request.get('id'), '_fragment': 'class_students'})}, style: '', class: 'btn btn-info fas fa-users'})|raw }}
            </div>
        </div>
    {% endfor %}

</div>
{% include 'Page/panelEnd.html.twig' %}
