{% extends "Default/template.html.twig" %}

{% trans_default_domain 'School' %}

{% block title %}{{ 'school.course.list.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'school.course.list.title'|trans}}{% endblock headerTitle %}
{% block headerLead %}{{ 'school.course.list.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'Pagination/index.html.twig' %}
    {% if is_granted('ROLE_SYSTEM_ADMIN') %}
        {% set h3Content = addButton({windowOpen: {route: path('course_edit', {id: 'Add'})}}) %}
    {% endif %}
    {% include 'Page/panelStart.html.twig' with {header: 'school.course.list.title', transDomain: 'School', panelParagraph: 'school.course.list.help'} %}
    <div class="container-fluid">
        <div class="row row-header">
            <div class="col-3 text-center" style="display: inline-block;">
                   {{ 'course.name.label'|trans }}
            </div>
            <div class="col-3">
                {{ 'course.code.label'|trans({}) }}
            </div>
            <div class="col-3">
                {{ 'roll.details.label'|trans({}) }}
            </div>
            <div class="col-3 withAdd">
                {{ 'system.setting.manage.actions'|trans({}, 'System') }}
            </div>
        </div>
        {% for course in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-3 form-inline text-center">
                    {{ course.name }}
                </div>
                <div class="col-3 form-inline">
                    {{ roll.spaceName }}
                </div>
                <div class="col-3 form-inline small">
                    {{ manager.details(roll.0)|raw }}
                </div>
                <div class="col-3 form-inline">
                    {{ editButton({class: 'halflings halflings-edit btn btn-warning', title: 'school.course.edit.title', transDomain: 'School', windowOpen: {route: path('roll_edit', {id: roll.id})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'Page/panelEnd.html.twig' %}
{% endblock contentContainer %}

