{% trans_default_domain "School" %}

{% block external_activity_student_label %}{% endblock %}
{% block external_activity_student_errors %}{% endblock %}

{% block external_activity_student_widget %}
    {% spaceless %}
        {% set h3Content = '<div class="collection-actions collection-panel">' %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
        {% set h3Content = h3Content ~ upDownButton() %}
        {% set h3Content = h3Content ~ '</div>' %}
            <div class="row">
                <div class="col-4 card">
                    {{ form_widget(form.student, {value: transformData(form.student.vars.data)}) }}
                </div>
                <div class="col-3 card">
                    {{ form_widget(form.externalStatus) }}
                    {{ form_row(form.id) }}
                </div>
                <div class="col-3 card small">
                    {% if form.vars.value is not empty %}
                        {{ form.vars.value.createdOn.format(get_setting('date.format.long')) }} {{ form.vars.value.createdOn.format(get_setting('time.format.short')) }}<br />
                        {{ formatUserName(form.vars.value.createdBy) }}
                    {% endif %}
                </div>
                <div class="col-2 card">
                    {{ h3Content|raw }}
                    {{ form_row(form.activity, {value: app.request.get('id')}) }}
                </div>
            </div>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock external_activity_student_widget %}
