{% trans_default_domain 'School' %}

{% if app.request.get('closeWindow')|default('') is not same as('') %}
    {% set h3Content = closeButton() %}
{% else %}
    {% set h3Content = returnButton({windowOpen: {route: path('activity_return', {id: app.request.get('id'), hint: 'external', closeWindow: app.request.get('closeWindow')|default('')  })}}) %}
{% endif %}
{% set h3Content = h3Content ~ saveButton() %}
{% include 'Page/panelStart.html.twig' with {header: 'activity.external.details.tab', panelParagraph: 'school.external_activity.manage.title', panelParams: {'%name%': form.vars.value.fullName}, transDomain: 'School'} %}
<div class="row">
    <div class="col-6 card">
        {{ form_row(form.name) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.code) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.provider) }}
    </div>
</div>
<div class="row">
    <div class="col-3 card">
        {{ form_row(form.active) }}
        <hr />
        {{ form_row(form.registration) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.maxParticipants) }}
        <hr />
        {{ form_row(form.type) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.terms) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.calendarGrades) }}
    </div>
</div>
{% include 'Page/panelEnd.html.twig' %}
