{% extends "Default/template.html.twig" %}

{% trans_default_domain 'School' %}

{% block title %}{{ 'school.roll.list.title'|trans({'%{calendar}': pagination.currentCalendar.name}) }}{% endblock title %}
{% block headerTitle %}{{ 'school.roll.list.title'|trans({'%{calendar}': pagination.currentCalendar.name}) }}{% endblock headerTitle %}
{% block headerLead %}{{ 'school.roll.list.description'|trans  }}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'Pagination/index.html.twig' %}
    {% if is_granted('ROLE_SYSTEM_ADMIN') %}
        {% set h3Content = addButton({windowOpen: {route: path('roll_edit', {id: 'Add'})}}) %}
    {% endif %}
    {% include 'Page/panelStart.html.twig' with {header: 'school.roll.list.title', name: {'%{calendar}': pagination.currentCalendar.name}, transDomain: 'School', panelParagraph: 'school.roll.list.help'} %}
    <div class="container-fluid">
        <div class="row row-header">
            <div class="col-3 text-center" style="display: inline-block;">
                   {{ 'roll.name.label'|trans }}<br /><small>{{ 'roll.code.label'|trans }}</small>
            </div>
            <div class="col-3">
                {{ 'roll.space.label'|trans({}) }}
            </div>
            <div class="col-3">
                {{ 'roll.details.label'|trans({}) }}
            </div>
            <div class="col-3 withAdd text-center">
                {{ 'system.setting.manage.actions'|trans({}, 'System') }}
            </div>
        </div>
        {% for roll in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-3 form-inline text-center">
                    {{ roll.name }}<br /><small>{{ roll.code }}</small>
                </div>
                <div class="col-3 form-inline">
                    {{ roll.spaceName }}
                </div>
                <div class="col-3 form-inline small">

                </div>
                <div class="col-3 form-inline text-center">
                    {{ editButton({title: 'school.roll.edit.title', transDomain: 'School', windowOpen: {route: path('roll_edit', {id: roll.id})}, style: ''})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'Page/panelEnd.html.twig' %}
{% endblock contentContainer %}

