{% extends "Default/template.html.twig" %}

{% trans_default_domain 'School' %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{% block title %}{{ 'school.roll.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'school.roll.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'school.roll.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ form_start(form) }}{% dump(form) %}
    {% set h3Content = '' %}
    {% set h3Content = h3Content ~ returnButton({windowOpen: {route: path('calendar_edit', {id: form.calendar.vars.value, _fragment: 'rollGroups'})}}) %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% include 'Page/panelStart.html.twig' with {header: 'school.roll.edit.title', transDomain: 'School'} %}

    <div class="row">
        <div class="col-6 card">
            <div class="row">
                <div class="col-6 card">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-6 card">
                    {{ form_row(form.nameShort) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 card">
                    {{ form_row(form.website) }}
                </div>
                <div class="col-6 card">
                    {{ form_row(form.space) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-6 card">
                    {{ form_row(form.grade) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12  card">
                    {% set tutor_id = form.rollTutor1.vars.value %}
                    {% if tutor_id is empty %}
                        {% set tutor_id = form.rollTutor1.vars.data %}
                    {% endif %}
                    {{ form_row(form.rollTutor1, {value: tutor_id}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12  card">
                    {% set tutor_id = form.rollTutor2.vars.value %}
                    {% if tutor_id is empty %}
                        {% set tutor_id = form.rollTutor2.vars.data %}
                    {% endif %}
                    {{ form_row(form.rollTutor2, {value: tutor_id}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12  card">
                    {% set tutor_id = form.rollTutor3.vars.value %}
                    {% if tutor_id is empty %}
                        {% set tutor_id = form.rollTutor3.vars.data %}
                    {% endif %}
                    {{ form_row(form.rollTutor3, {value: tutor_id}) }}
                </div>
            </div>

        </div>
        <div class="col-6 card">
            {{ form_row(form.students) }}
        </div>
    </div>
    {% dump(form) %}
    {% include 'Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

