{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends "Default/template.html.twig" %}

{% trans_default_domain 'security' %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig' %}

{% block title %}{{ 'Password Reset'|trans }}{% endblock %}
{% block headerTitle %}{{ 'Password Reset'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'security.password.reset.description'|trans }}{% endblock headerLead %}


{% block SecurityBundleContent %}
    {% block contentContainer %}
        {% if not success %}

            {{ form_start(form) }}
            {% set h3Content = saveButton() %}
            {% include 'Page/panelStart.html.twig' with {header: 'Password Reset', transDomain: 'security'} %}

            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="{{ 'Close Message'|trans({}, 'home') }}">
                        <span aria-hidden="true" class="halflings halflings-remove-circle"></span>
                    </button>
                </div>
            {% endif %}

                 <div id="form_body" class="container-fluid">
                     <div class="row">
                         <div class="card col-4">
                             {{ form_row(form.plainPassword.first) }}
                         </div>
                         <div class="card col-4">
                             {{ form_row(form.plainPassword.second) }}
                         </div>
                         <div class="card col-4">
                             {{ miscButton({additional: {id: 'generatePassword'}, class: 'btn btn-info', transDomain: 'security', prompt: 'security.password.generate.label'})|raw }}
                         </div>
                     </div>
                </div>
            {% do form.save.setRendered() %}
            {{ form_end(form) }}
            {% include 'Page/panelEnd.html.twig' %}
        {% else %}
            {% include 'Page/panelStart.html.twig' with {header: 'Password Reset', transDomain: 'security'} %}
            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="{{ 'Close Message'|trans({}, 'home') }}">
                        <span aria-hidden="true" class="halflings halflings-remove-circle"></span>
                    </button>
                </div>
            {% endif %}
            {% include 'Page/panelEnd.html.twig' %}
        {% endif %}
    {% endblock contentContainer %}
{% endblock SecurityBundleContent %}


{% block javascripts %}
    {{ parent() }}
    {% include '@HillrangeSecurity/security/newPasswordScript.html.twig' %}
{% endblock %}
