{# src/Busybee/PersonBundle/Resources/views/Person/addresses.html.twig #}

{% trans_default_domain "Person" %}

<p class="alert alert-warning">{{ 'address.warning'|trans }}</p>

{% if addresses is defined %}

    <p class="alert alert-info">
        <strong>{{ 'address.linked'|trans }}</strong>
        {% for address in addresses %}
            {{ formatAddress(address)|raw }}
        {% endfor %}</p>
{% endif %}

<div class="row">
    <div class="col-12 card">
        {{ form_row(form.address1) }}
        <span>
            {{ deleteButton({additional: {id: "erasePersonAddress1"}, title: 'address.button.erase', transDomain: 'Person', colour: 'warning'})|raw }}
            {{ resetButton({title: 'address.button.refresh', transDomain: 'Person', additional: {id: 'refreshPersonAddress1'}, mergeClass: 'refreshPersonAddress', colour: 'dark'})|raw }}
            {{ addButton({mergeClass: 'addPersonAddress', additional: {id: 'addPersonAddress1'}, transDomain: 'Person', title: 'address.button.add'})|raw }}
		</span><br/>
        {% include 'Default/flash.html.twig' with {flashClass: 'alert-dismissable show hide', transDomain: 'Person'} %}
    </div>
</div>
<div class="row">
    <div class="col-12 card">
        {{ form_row(form.address2) }}
        <span>
            {{ deleteButton({additional: {id: "erasePersonAddress2"}, title: 'address.button.erase', transDomain: 'Person', colour: 'warning'})|raw }}
            {{ resetButton({title: 'address.button.refresh', transDomain: 'Person', additional: {id: 'refreshPersonAddress2'}, mergeClass: 'refreshPersonAddress', colour: 'dark'})|raw }}
            {{ addButton({mergeClass: 'addPersonAddress', additional: {id: 'addPersonAddress2'}, transDomain: 'Person', title: 'address.button.add'})|raw }}
		</span><br/>
        {% include 'Default/flash.html.twig' with {flashClass: 'alert-dismissable show hide', transDomain: 'Person'} %}
    </div>
</div>
