{% trans_default_domain "Person" %}

{% extends "Default/template.html.twig" %}

{% form_theme form "@HillrangeForm/FormTheme/bootstrap.html.twig" %}

{% block title %}{{ parent() }}{{ 'address.title'|trans }}{% endblock title %}

{% block menuContainer %}{% endblock %}
{% block titleContainer %}{% endblock %}


{% block contentContainer %}
    {% block flashMessages %}{{ parent() }}{% endblock %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row" id="addressMessage" style="display: none;">
        </div>
    </div>
    <div id="addressContent">
        {% include 'Address/edit.html.twig' %}
    </div>
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Address/script.html.twig' %}
    {% include 'Script/monitorForm.html.twig' with {route: 'address_manage'} %}
{% endblock javascripts %}
