{% set x = tabManager.getAssignedDays(term) %}
{% trans_default_domain 'Timetable' %}

{% for value,week in tabManager.getWeeks() %}
<div class="row">
    <div class="col-3 card">
        <div class="row-header row small">
            <div class="col-12 card text-center small">
                {% set fd = week|first %}
                {% set ld = week|last %}
                <div class="small">{{ fd.day|date(get_setting('date.format.long')) }}
                    <br>{{ value }}<br>{{ ld.day|date(get_setting('date.format.long')) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 card">
        <div class="row small">
            {% set offset = 0 %}
            {% for day in week %}
                {% if day.type is same as('no_school') or day.type is same as('holiday') %}
                    {% set offset = offset + 2 %}
                {% else %}
                    {% set alert = '' %}
                    {% if day.startRotate %}{% set alert = ' alert-info' %}{% endif %}
                    {% if day.type == 'closure' %}{% set alert = ' alert-danger' %}{% endif %}
                    {% if day.type == 'alter' %}{% set alert = ' alertwarning' %}{% endif %}
                    <div class="col-2 card text-center{{ alert }}{% if offset > 0 %} offset-{{ offset }}{% set offset = 0 %}{% endif %}"
                         onclick="toggleRotateStart('{{ day.day|date('Ymd') }}','{{ app.request.get('id') }}','{{ term.id }}')">
                        <div>
                            {% if day.type == 'closure' or day.type == 'alter' %}<span class="fa-calendar-check far "
                                                                    title="{{ day.specialDay.description }}"></span>{% endif %}
                            {% if day.startRotate %}<span class="fa-star far"
                                                          title="{{ 'timetable.rotate.title'|trans }}"></span>{% endif %}
                        </div>
                        {% if day.type == 'closure' or day.type == 'alter' %}
                            {{ day.specialDay.name }}
                        {% else %}
                            {{ day.column.name }}{% if day.column.code is not empty %} ({{ day.column.code }}){% endif %}
                        {% endif %}
                        <br>
                        <div class="small">{{ day.day|date(get_setting('date.format.short')) }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
